@{
}
<br /><br />
<ol class="breadcrumb">
    <li><a href="#"><i class="icon icon-home"></i></a></li>
    <li><a href="#">Solicitud</a></li>
    <li class="active">Tipo Servicios</li>
</ol>
<div class="flip col-lg-12">
    <div class="front">
        <h3>Instalacion</h3>
        <div class="top-buffer">
            <hr class="red">
        </div>
        <div class="form-group">
            <fieldset>
                <legend>Cliente</legend>
                <div class="table">
                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="">Buscar por RFC</label>
                            <input placeholder="Buscar por RFC" class="form-control" type="text" name="Rfc" for="rfc" id="txbRfc">
                        </div>
                        <div class="col-sm-4">
                            <label class="">Buscar por nombre corto</label>
                            <input placeholder="Buscar por nombre corto" class="form-control" type="text" id="txbNombreCorto" name="nombreCorto" for="nombreCorto">
                        </div>
                        <div class="col-sm-4">
                            <label class="">Buscar por razón social</label>
                            <input placeholder="Buscar por razón social" class="form-control" type="text" Id="txbRazonSocial" name="razonSocial" for="razonSocial">
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Instalación</legend>
                <div class="table">
                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label>Buscar por nombre</label>
                            <input placeholder="Buscar por nombre" class="form-control" id="tbxNombreInstalacion" type="text" name="nombre" for="nombre">
                        </div>
                        <div class="col-sm-4">
                            <div class="col-lg-12">
                                <label class="control-label">Estatus:</label>
                            </div>
                            <div class="radio col-lg-12">
                                <label class="radio-inline">
                                    <input type="radio" name="rdbEstatus" value="true" title="Buscar Instalaciones activas" checked="checked">
                                    Activo
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="rdbEstatus" value="false" title="Buscar Instalaciones inactivas ">
                                    Inactivo
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <button type="button" class="btn btn-default pull-right" id="btnBuscar">
                                <span class="glyphicon glyphicon-search"></span>
                                Buscar
                            </button>
                        </div>
                    </div>
                </div>
            </fieldset>

        </div>
        <div class="row">
            <div id="divTipoServicio"></div>
        </div>
    </div>
    
    <br/>
    <div class="back">

    </div>
</div>


@section Scripts{
    <script src="~/Scripts/conec/solicitud/Instalacion.js"></script>
    <script src="~/Scripts/Controls/gobControl.js"></script>
    <script src="~/Scripts/Controls/gobGrid.js"></script>
    <script>
       
    </script>
    <script src="https://framework-gb.cdn.gob.mx/assets/scripts/jquery-ui-datepicker.js"></script>

}