
<!DOCTYPE html>
<html>
<head>
    <title>SICER</title>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/App")

    <link href="../../Extjs/resources/css/ext-theme-gray-all.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
    <div id="whitespace">
    
    </div>
    </form>

      <input type="hidden" id="Message" value="@ViewBag.Message"/>
</body>
</html>
