<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="FilePath" value="C:\Transfer"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWebServiceClabe" />
        <binding name="BasicHttpBinding_IWsBitacoras" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.82.188:9045/WebServiceClabe.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWebServiceClabe"
        contract="wsClabe.IWebServiceClabe" name="BasicHttpBinding_IWebServiceClabe" />
      <endpoint address="http://10.210.0.142:9052/wsBitacora.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IWsBitacoras" contract="wsBitacora.IWsBitacoras"
        name="BasicHttpBinding_IWsBitacoras" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.8.0" newVersion="6.9.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information,ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true">
      <listeners>
        <add name="textListener" type="srvBroxel.MaxTextWriteTraceListener, App_Code" initializeData="C:\Transfer\Catarsys\srvBroxel.log" />
        <remove name="Default" />
      </listeners>
    </trace>
    <sharedListeners>
      <add initializeData="C:\Transfer\Catarsys\srvBroxel.svclog" name="xml" type="srvBroxel.RollingXmlWriterTraceListener, App_Code" />
    </sharedListeners>
  </system.diagnostics>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <!--DESARROLLO -->
    <!--
    <add name="broxelco_rdgEntities" connectionString="metadata=res://*/DAL.BroxelMySql.csdl|res://*/DAL.BroxelMySql.ssdl|res://*/DAL.BroxelMySql.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=10.210.66.59;user id=appnetuserdes;password=2sZcuiawnWkb;persistsecurityinfo=True;check parameters=false;database=broxelco_rdg;convertzerodatetime=True;defaultcommandtimeout=240;allowzerodatetime=True;connectiontimeout=300&quot;" providerName="System.Data.EntityClient" />
    <add name="MySQLBroxel_RDG" connectionString="Server=10.210.66.59;Uid=appnetuserdes;Pwd=2sZcuiawnWkb;Database=broxelco_rdg;check parameters=false;"/>
    -->
    
<!--PRODUCCION -->
    
    <add name="broxelco_rdgEntities" connectionString="metadata=res://*/DAL.BroxelMySql.csdl|res://*/DAL.BroxelMySql.ssdl|res://*/DAL.BroxelMySql.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=10.210.196.40;user id=appnetuser;password=NjOeaB1eskLnyxb;persistsecurityinfo=True;database=broxelco_rdg;convertzerodatetime=True;defaultcommandtimeout=240;allowzerodatetime=True;connectiontimeout=300&quot;" providerName="System.Data.EntityClient" />
    <add name="MySQLBroxel_RDG" connectionString="Server=10.210.196.40;Uid=appnetuser;password=NjOeaB1eskLnyxb;Database=broxelco_rdg;check parameters=false;"/>
<!--

    <add name="broxelco_rdgEntities" connectionString="metadata=res://*/DAL.BroxelMySql.csdl|res://*/DAL.BroxelMySql.ssdl|res://*/DAL.BroxelMySql.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=10.210.196.40;user id=broxelco_rdg;password=1O4o7356;persistsecurityinfo=True;database=broxelco_rdg;convertzerodatetime=True;defaultcommandtimeout=240;allowzerodatetime=True;connectiontimeout=300&quot;" providerName="System.Data.EntityClient" />
-->
  </connectionStrings>
</configuration>