################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Proyectos Trabajos/FreeLance/Suncorp/Aplicacion/Suncorp
/Proyectos Prueba/WinForms/EjemploTreeView/EjemploTreeView/bin/Debug
/Proyectos Prueba/WinForms/EjemploTreeView/EjemploTreeView/obj/Debug
/Proyectos Prueba/WinForms/EjemploTreeView/EjemploTreeView.v11.suo
/Proyectos Prueba/C#/EjmploAplicacionAsync
/Proyectos Prueba/WinForms/EjemploTreeView/.vs/EjemploTreeView/v14/.suo
/Proyectos Prueba/MVC/EjemploWebApi/WebApiExample/.vs/WebApiExample/v14
/Proyectos Prueba/MVC/EjemploWebApi/WebApiExample/.vs/config
/Proyectos Prueba/MVC/EjemploWebApi/WebApiExample/packages
/Proyectos Prueba/MVC/EjemploWebApi/WebApiExample/WebApiExample.DataAccess/obj/Debug
/Proyectos Prueba/MVC/EjemploWebApi/WebApiExample/WebApiExample.DataAccess/Properties
/Proyectos Prueba/MVC/EjemploWebApi/WebApiExample/WebApiExample.Models/obj/Debug
/Proyectos Prueba/MVC/EjemploWebApi/WebApiExample/WebApiExample.Models/Properties
/Proyectos Prueba/MVC/EjemploWebApi/WebApiExample/WepApiExmaple.Server/bin
/Proyectos Prueba/MVC/EjemploWebApi/WebApiExample/WepApiExmaple.Server/obj/Debug
/Proyectos Prueba/MVC/EjemploWebApi/WebApiExample/WepApiExmaple.Server/WepApiExmaple.Server.csproj.user
/Proyectos Prueba/MVC/EjemploWebApi/WebApiExample/WepApiExmaple.Server.Tests/obj/Debug
/Proyectos Prueba/MVC/EjemploWebApi/WebApiExample/WebApiExample.DataAccess/bin/Debug
/Proyectos Prueba/MVC/EjemploWebApi/WebApiExample/WebApiExample.Models/bin/Debug
/Proyectos Cursos/Microsoft/MVC/Certificacion/Certificacion/.vs
/Proyectos Cursos/Microsoft/MVC/Certificacion/Certificacion/Certificacion.AccesoDatos/bin/Debug
/Proyectos Cursos/Microsoft/MVC/Certificacion/Certificacion/Certificacion.AccesoDatos/obj/Debug
/Proyectos Cursos/Microsoft/MVC/Certificacion/Certificacion/Certificacion.DataBase/Certificacion.DataBase.sqlproj.user
/Proyectos Cursos/Microsoft/MVC/Certificacion/Certificacion/Certificacion.LogicaNegocios/bin/Debug
/Proyectos Cursos/Microsoft/MVC/Certificacion/Certificacion/Certificacion.LogicaNegocios/obj/Debug
/Proyectos Cursos/Microsoft/MVC/Certificacion/Certificacion/Certificacion.Modelos/bin/Debug
/Proyectos Cursos/Microsoft/MVC/Certificacion/Certificacion/Certificacion.Modelos/obj/Debug
/Proyectos Cursos/Microsoft/MVC/Certificacion/Certificacion/Certificacion.Sitio/bin
/Proyectos Cursos/Microsoft/MVC/Certificacion/Certificacion/Certificacion.Sitio/obj/Debug
/Proyectos Cursos/Microsoft/MVC/Certificacion/Certificacion/Certificacion.Sitio/Certificacion.Sitio.csproj.user
/Proyectos Cursos/Microsoft/MVC/Certificacion/Certificacion/packages
/Proyectos Prueba/MVC/PruebaMVC5/PruebaMVC5/.vs
/Proyectos Prueba/MVC/PruebaMVC5/PruebaMVC5/bin
/Proyectos Prueba/MVC/PruebaMVC5/PruebaMVC5/obj/Debug
/Proyectos Prueba/MVC/PruebaMVC5/PruebaMVC5/packages
/Proyectos Prueba/MVC/PruebaMVC5/PruebaMVC5/PruebaMVC5.v11.suo
