################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Proyectos Trabajos/FreeLance/Suncorp/Aplicacion/Suncorp
/Proyectos Prueba/WinForms/EjemploTreeView/EjemploTreeView/bin/Debug
/Proyectos Prueba/WinForms/EjemploTreeView/EjemploTreeView/obj/Debug
/Proyectos Prueba/WinForms/EjemploTreeView/EjemploTreeView.v11.suo
/Proyectos Prueba/C#/EjmploAplicacionAsync
/Proyectos Prueba/WinForms/EjemploTreeView/.vs/EjemploTreeView/v14/.suo
