################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Proyectos Trabajos/FreeLance/Suncorp/Aplicacion/Suncorp
/Proyectos Prueba/WinForms/EjemploTreeView/EjemploTreeView/bin/Debug
/Proyectos Prueba/WinForms/EjemploTreeView/EjemploTreeView/obj/Debug
/Proyectos Prueba/WinForms/EjemploTreeView/EjemploTreeView.v11.suo
/Proyectos Prueba/C#/EjmploAplicacionAsync
/Proyectos Prueba/WinForms/EjemploTreeView/.vs/EjemploTreeView/v14/.suo
/Proyectos Prueba/MVC/EjemploWebApi/WebApiExample/.vs/WebApiExample/v14
/Proyectos Prueba/MVC/EjemploWebApi/WebApiExample/.vs/config
/Proyectos Prueba/MVC/EjemploWebApi/WebApiExample/packages
/Proyectos Prueba/MVC/EjemploWebApi/WebApiExample/WebApiExample.DataAccess/obj/Debug
/Proyectos Prueba/MVC/EjemploWebApi/WebApiExample/WebApiExample.DataAccess/Properties
/Proyectos Prueba/MVC/EjemploWebApi/WebApiExample/WebApiExample.Models/obj/Debug
/Proyectos Prueba/MVC/EjemploWebApi/WebApiExample/WebApiExample.Models/Properties
/Proyectos Prueba/MVC/EjemploWebApi/WebApiExample/WepApiExmaple.Server/bin
/Proyectos Prueba/MVC/EjemploWebApi/WebApiExample/WepApiExmaple.Server/obj/Debug
/Proyectos Prueba/MVC/EjemploWebApi/WebApiExample/WepApiExmaple.Server/WepApiExmaple.Server.csproj.user
/Proyectos Prueba/MVC/EjemploWebApi/WebApiExample/WepApiExmaple.Server.Tests/obj/Debug
/Proyectos Prueba/MVC/EjemploWebApi/WebApiExample/WebApiExample.DataAccess/bin/Debug
/Proyectos Prueba/MVC/EjemploWebApi/WebApiExample/WebApiExample.Models/bin/Debug
/Proyectos Cursos/Microsoft/MVC/Certificacion/Certificacion/.vs
/Proyectos Cursos/Microsoft/MVC/Certificacion/Certificacion/Certificacion.AccesoDatos/bin/Debug
/Proyectos Cursos/Microsoft/MVC/Certificacion/Certificacion/Certificacion.AccesoDatos/obj/Debug
/Proyectos Cursos/Microsoft/MVC/Certificacion/Certificacion/Certificacion.DataBase/Certificacion.DataBase.sqlproj.user
/Proyectos Cursos/Microsoft/MVC/Certificacion/Certificacion/Certificacion.LogicaNegocios/bin/Debug
/Proyectos Cursos/Microsoft/MVC/Certificacion/Certificacion/Certificacion.LogicaNegocios/obj/Debug
/Proyectos Cursos/Microsoft/MVC/Certificacion/Certificacion/Certificacion.Modelos/bin/Debug
/Proyectos Cursos/Microsoft/MVC/Certificacion/Certificacion/Certificacion.Modelos/obj/Debug
/Proyectos Cursos/Microsoft/MVC/Certificacion/Certificacion/Certificacion.Sitio/bin
/Proyectos Cursos/Microsoft/MVC/Certificacion/Certificacion/Certificacion.Sitio/obj/Debug
/Proyectos Cursos/Microsoft/MVC/Certificacion/Certificacion/Certificacion.Sitio/Certificacion.Sitio.csproj.user
/Proyectos Cursos/Microsoft/MVC/Certificacion/Certificacion/packages
/Proyectos Prueba/MVC/PruebaMVC5/PruebaMVC5/.vs
/Proyectos Prueba/MVC/PruebaMVC5/PruebaMVC5/bin
/Proyectos Prueba/MVC/PruebaMVC5/PruebaMVC5/obj/Debug
/Proyectos Prueba/MVC/PruebaMVC5/PruebaMVC5/packages
/Proyectos Prueba/MVC/PruebaMVC5/PruebaMVC5/PruebaMVC5.v11.suo
/Proyectos Cursos/Microsoft/MVC/Certificacion/Certificacion/Certificacion.DataBase/bin/Debug
/Proyectos Cursos/Microsoft/MVC/Certificacion/Certificacion/Certificacion.DataBase/obj/Debug
/Proyectos Cursos/Microsoft/MVC/Certificacion/Certificacion/Certificacion.DataBase/Certificacion.DataBase.jfm
/Proyectos Cursos/Microsoft/MVC/Certificacion/Certificacion/Certificacion.DataBase/Certificacion.DataBase.dbmdl
/Proyectos Trabajos/Indra/Aplicacion/GOB.SPF.ConecII.Web.Tests
/Proyectos Trabajos/Indra/Aplicacion/GOB.SPF.ConecII.Web
/Proyectos Trabajos/Indra/Aplicacion/GOB.SPF.ConecII.Entities
/Proyectos Trabajos/Indra/Aplicacion/GOB.SPF.ConecII.DataAgents
/Proyectos Trabajos/Indra/Aplicacion/GOB.SPF.ConecII.Business
/Proyectos Trabajos/Indra/Aplicacion/GOB.SPF.ConecII.AccessData
/Proyectos Trabajos/Indra/Aplicacion/GOB.SPF.Conec.Services.Tests
/Proyectos Trabajos/Indra/Aplicacion/GOB.SPF.Conec.Services
/Proyectos Trabajos/Indra/Aplicacion/Apps
/Proyectos Trabajos/Indra/Aplicacion
/Proyectos Personales/Universidad/Aplicacion/Universidad/Universidad.AccesoDatos/obj/Debug
/Proyectos Personales/Universidad/Aplicacion/Universidad/Universidad.Entidades/obj/Debug
/Proyectos Personales/Universidad/Aplicacion/Universidad/Aplicaciones/ServidorInterno/.vs/ServidorInterno/v14
/Proyectos Personales/Universidad/Aplicacion/Universidad/Universidad.Helpers/obj/Debug
/Proyectos Personales/Universidad/Aplicacion/Universidad/Universidad.LogicaNegocios/obj/Debug
/Proyectos Personales/Universidad/Aplicacion/Universidad/Universidad.ServidorInterno/bin
/Proyectos Personales/Universidad/Aplicacion/Universidad/Universidad.ServidorInterno/obj/Debug
/Proyectos Trabajos/Indra/Conec/Aplicacion/.vs/GOB.SPF.ConecII/v14
/Proyectos Trabajos/Indra/Conec/Aplicacion/BIN
/Proyectos Trabajos/Indra/Conec/Aplicacion/GOB.SPF.Conec.Services/bin
/Proyectos Trabajos/Indra/Conec/Aplicacion/GOB.SPF.Conec.Services/obj/Debug
/Proyectos Trabajos/Indra/Conec/Aplicacion/GOB.SPF.Conec.Services/GOB.SPF.Conec.Services.csproj.user
/Proyectos Trabajos/Indra/Conec/Aplicacion/GOB.SPF.Conec.Services/GOB.SPF.Conec.Services.csproj.vspscc
/Proyectos Trabajos/Indra/Conec/Aplicacion/GOB.SPF.Conec.Services.Tests/obj/Debug
/Proyectos Trabajos/Indra/Conec/Aplicacion/GOB.SPF.Conec.Services.Tests/GOB.SPF.Conec.Services.Tests.csproj.vspscc
/Proyectos Trabajos/Indra/Conec/Aplicacion/GOB.SPF.ConecII.AccessData/bin/Debug
/Proyectos Trabajos/Indra/Conec/Aplicacion/GOB.SPF.ConecII.AccessData/obj/Debug
/Proyectos Trabajos/Indra/Conec/Aplicacion/GOB.SPF.ConecII.AccessData/GOB.SPF.ConecII.AccessData.csproj.user
/Proyectos Trabajos/Indra/Conec/Aplicacion/GOB.SPF.ConecII.AccessData/GOB.SPF.ConecII.AccessData.csproj.vspscc
/Proyectos Trabajos/Indra/Conec/Aplicacion/GOB.SPF.ConecII.Business/bin/Debug
/Proyectos Trabajos/Indra/Conec/Aplicacion/GOB.SPF.ConecII.Business/obj/Debug
/Proyectos Trabajos/Indra/Conec/Aplicacion/GOB.SPF.ConecII.Business/GOB.SPF.ConecII.Business.csproj.vspscc
/Proyectos Trabajos/Indra/Conec/Aplicacion/GOB.SPF.ConecII.DataAgents/bin/Debug
/Proyectos Trabajos/Indra/Conec/Aplicacion/GOB.SPF.ConecII.DataAgents/obj/Debug
/Proyectos Trabajos/Indra/Conec/Aplicacion/GOB.SPF.ConecII.DataAgents/GOB.SPF.ConecII.DataAgents.csproj.vspscc
/Proyectos Trabajos/Indra/Conec/Aplicacion/GOB.SPF.ConecII.Entities/bin/Debug
/Proyectos Trabajos/Indra/Conec/Aplicacion/GOB.SPF.ConecII.Entities/obj/Debug
/Proyectos Trabajos/Indra/Conec/Aplicacion/GOB.SPF.ConecII.Entities/GOB.SPF.ConecII.Entities.csproj.user
/Proyectos Trabajos/Indra/Conec/Aplicacion/GOB.SPF.ConecII.Entities/GOB.SPF.ConecII.Entities.csproj.vspscc
/Proyectos Trabajos/Indra/Conec/Aplicacion/GOB.SPF.ConecII.Web/bin
/Proyectos Trabajos/Indra/Conec/Aplicacion/GOB.SPF.ConecII.Web/obj/Debug
/Proyectos Trabajos/Indra/Conec/Aplicacion/GOB.SPF.ConecII.Web/GOB.SPF.ConecII.Web.csproj.user
/Proyectos Trabajos/Indra/Conec/Aplicacion/GOB.SPF.ConecII.Web/GOB.SPF.ConecII.Web.csproj.vspscc
/Proyectos Trabajos/Indra/Conec/Aplicacion/GOB.SPF.ConecII.Web.Tests/bin/Debug
/Proyectos Trabajos/Indra/Conec/Aplicacion/GOB.SPF.ConecII.Web.Tests/obj/Debug
/Proyectos Trabajos/Indra/Conec/Aplicacion/GOB.SPF.ConecII.Web.Tests/GOB.SPF.ConecII.Web.Tests.csproj.vspscc
/Proyectos Trabajos/Indra/Conec/Aplicacion/packages
/Proyectos Trabajos/Indra/Conec/Aplicacion/GOB.SPF.ConecII.vssscc
/Proyectos Trabajos/Broxel/Core-Process/Proyectos/WsBroxel
/Proyectos Prueba/Examenes/ExamenCSI/Proyecto/ExamenCsi/.vs
/Proyectos Prueba/Examenes/ExamenCSI/Proyecto/ExamenCsi/ExamenCsi.BusinessLogic/obj/Debug
/Proyectos Prueba/Examenes/ExamenCSI/Proyecto/ExamenCsi/ExamenCsi.ControllerServer/obj/Debug
/Proyectos Prueba/Examenes/ExamenCSI/Proyecto/ExamenCsi/ExamenCsi.DataAccess/obj/Debug
/Proyectos Prueba/Examenes/ExamenCSI/Proyecto/ExamenCsi/ExamenCsi.Entities/obj/Debug
/Proyectos Prueba/Examenes/ExamenCSI/Proyecto/ExamenCsi/ExamenCsi.Server/bin
/Proyectos Prueba/Examenes/ExamenCSI/Proyecto/ExamenCsi/ExamenCsi.Server/obj/Debug
/Proyectos Prueba/Examenes/ExamenCSI/Proyecto/ExamenCsi/ExamenCsi.Server/ExamenCsi.Server.csproj.user
/Proyectos Prueba/Examenes/ExamenCSI/Proyecto/ExamenCsi/ExamenCsi.Site/bin
/Proyectos Prueba/Examenes/ExamenCSI/Proyecto/ExamenCsi/ExamenCsi.Site/obj/Debug
/Proyectos Prueba/Examenes/ExamenCSI/Proyecto/ExamenCsi/ExamenCsi.Site/ExamenCsi.Site.csproj.user
/Proyectos Prueba/Examenes/ExamenCSI/Proyecto/ExamenCsi/packages
/Proyectos Prueba/Examenes/ExamenCSI/Proyecto/ExamenCsi/ExamenCsi.BusinessLogic/bin/Debug
/Proyectos Prueba/Examenes/ExamenCSI/Proyecto/ExamenCsi/ExamenCsi.ControllerServer/bin/Debug
/Proyectos Prueba/Examenes/ExamenCSI/Proyecto/ExamenCsi/ExamenCsi.DataAccess/bin/Debug
/Proyectos Prueba/Examenes/ExamenCSI/Proyecto/ExamenCsi/ExamenCsi.Entities/bin/Debug
/Proyectos Trabajos/Indra/SPF/Proyectos/CONEC/GOB.SPF.ConecII
/Proyectos Personales/SunCorp/Aplicacion/SunCorp
/Proyectos Prueba/MVC/EjemploWebApi/WebApiExample/WepApiExmaple.Server.Tests/bin/Debug
/Proyectos Prueba/MVC/EjemploWebApi/WebApiExample/.vs/WebApiExample/v15/.suo
/Proyectos Prueba/Examenes/ExamenMvcAdo/.vs/ExamenMvcAdo/v15
/Proyectos Prueba/Examenes/ExamenMvcAdo/.vs/ExamenMvcAdo/v15
*.suo
/Proyectos Prueba/Examenes/ExamenMvcAdo/ExamenMvcAdo.AccessData/obj/Debug
/Proyectos Prueba/Examenes/ExamenMvcAdo/ExamenMvcAdo.AccessData/obj/Debug
/Proyectos Prueba/Examenes/ExamenMvcAdo/ExamenMvcAdo.AccessData/bin/Debug
/Proyectos Prueba/Examenes/ExamenMvcAdo/ExamenMvcAdo.BusinessLogic/bin/Debug
/Proyectos Prueba/Examenes/ExamenMvcAdo/ExamenMvcAdo.BusinessLogic/obj/Debug
*.user
/Proyectos Prueba/Examenes/ExamenMvcAdo/ExamenMvcAdo.Services/bin
/Proyectos Prueba/Examenes/ExamenMvcAdo/ExamenMvcAdo.Services/obj/Debug
/Proyectos Prueba/Examenes/ExamenMvcAdo/ExamenMvcAdo.GateService/bin/Debug
/Proyectos Prueba/Examenes/ExamenMvcAdo/ExamenMvcAdo.GateService/obj/Debug
/Proyectos Prueba/Examenes/ExamenMvcAdo/ExamenMvcAdo.Modelos/bin/Debug
/Proyectos Prueba/Examenes/ExamenMvcAdo/ExamenMvcAdo.Modelos/obj/Debug
/Proyectos Prueba/Examenes/ExamenMvcAdo/ExamenMvcAdo.Site/obj/Debug
/Proyectos Prueba/Examenes/ExamenMvcAdo/ExamenMvcAdo.Site/bin
/Proyectos Prueba/Examenes/ExamenMvcEf/ExamenMvcEf.DataAccess/obj/Debug
/Proyectos Prueba/Examenes/ExamenMvcEf/.vs/ExamenMvcEf/v15/Server/sqlite3
/Proyectos Prueba/Examenes/ExamenMvcEf/ExamenMvcEf.DataBase/obj/Debug
/Proyectos Prueba/Examenes/ExamenMvcEf/ExamenMvcEf.DataBase/bin/Debug
/Proyectos Prueba/Examenes/ExamenMvcEf/ExamenMvcEf.DataBase/ExamenMvcEf.DataBase.jfm
/Proyectos Prueba/Examenes/ExamenMvcEf/ExamenMvcEf.DataBase/ExamenMvcEf.DataBase.dbmdl
