<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <!--<add name="ConecEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IVAN\MSSQL2016DEV;initial catalog=test;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="ConecTest" connectionString="Data Source=10.247.182.33; Initial Catalog=Conec III;user=conec_dev; password=.cO!_|3(Dv; " />
    <!--<add name="ConecTest" connectionString="Data Source=IVAN\MSSQL2016DEV;Initial Catalog=ConecII;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=True " />-->
    <!--<add name="ConecTest" connectionString="Data Source=.; Initial Catalog=ConecII;  Integrated Security=SSPI; " />-->

  </connectionStrings>
  <appSettings>
    <add key="urlApiMCS" value="http://dell-482/MscService/api" />
    <add key="urlApiREP" value="http://dell-482/MscService/api" />
  </appSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>