.table-fixed {
    width: 100%;
}

tbody {
    height: 300px;
    overflow-y: auto;
    width: 100%;
}

thead, tbody, tr, td, th {
    display: block;
}

    tbody td {
        float: left;
    }

    thead tr th {
        float: left;
        background-color: #f9f9f9;
        border-color: #e67e22;
    }

.grid-container {
    margin: 10px 0;
}

.no-data
{
    height: 50px;
}

.no-data:after
{
    margin: -10px 0 0 -75px;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30px;
    width: 150px;
    content: 'Sin datos';
}

.hierarchy-hide{
    display:none;
}

.hierarchy-display{
    display:block;
}