<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="PinKey" value="32HexKey" />
    <add key="issuerCode" value="103" />
    <!--<add key="emailsAvisosDispersiones" value="mauricio.lopez@broxel.com " />-->
    <add key="emailsAvisosDispersiones" value="asignaciondelinea@broxel.com" />
    <!--<add key="emailsAvisosCargos" value="rodrigo.diazdeleon@broxel.com, mauricio.lopez@broxel.com" />-->
    <add key="emailsAvisosCargos" value="mauricio.lopez@broxel.com" />
    <!-- VPN para desarrollo y 220 = 10.70.10.70,  Enlace dedicado para produccion = 10.16.20.70, desarrollo credencial = 10.70.10.80/>-->
    <add key="CredencialHost" value="10.16.20.70" /> 
    <add key="CredencialPort" value="8243" />
    <!-- Ambientes petrus homologacion 10.209.129.80, produccion 192.168.86.190-->
    <add key="PetrusHost" value="192.168.86.190" />
    <add key="PetrusPortRest" value="8888" />
    <add key="PetrusPort" value="8088" />
    <!--add key="CredencialPort" value="8243" /-->
    <add key="CredencialNewHost" value="10.16.20.70" />
    <add key="CredencialNewPort" value="8000" />
    <add key="UseNewDispersion" value="1" />
    <add key="UseNewMethods" value="1" />
    <add key="UseNewMethodsTransfer" value="1" />
    <add key="TiempoCobrarComision" value="15000" />
    <!--<add key="PreAutURL" value="http://10.211.33.184:9080/BR-Preauthorizer/services/cards/add.do" />-->
    <add key="PreAutURL" value="https://10.211.33.184:9443/BR-Preauthorizer/services/cards/add2.do" />
    <add key="VCSMS" value="Tu codigo de verificacion es {0}" />
    <add key="DispSMS" value="Tu codigo de autorizacion para transferencia es {0}" />
    <add key="ChacheMinutes" value="5" />
    <add key="MinTransfer" value="7" />
    <add key="MaxTransfer" value="17" />
    <add key="MaxTransferAmount" value="5000000" />
    <add key="SaldoInicialB2C" value="50" />
    <add key="MejoravitBatchId" value="2f28cb7e-4f76-4afd-b7a6-6f27827f92b0" />
    <add key="Merchant" value="'K174','K175','K151'" />
    <add key="ClientesCuarentena" value="m.clave_cliente like '%MYO%' or m.Clave_Cliente like '%UBR%'" />
    <add key="SolicitudFisica" value="K166" />
    <add key="EnviarCorreoAviso" value="1" />
    <add key="EnviarCorreoOtp" value="1" />
    <add key="OtpHostSMS" value="TWILIO" />
    <add key="RPSSMS" value="Recibiste un deposito en tu tarjeta con terminacion {0} por concepto de Devolucion. Consulta tu saldo en fintech.broxel.com. Broxel Team" />
    <add key="B2cCards" value="K166,K165,D152" />
    <add key="CuentaOrigenLN" value="532149366" />
    <!--PETRUS REST IMPLEMENTATION-->
    <add key="PETRUS_CHARGE" value="purchase"/>
    <add key="PETRUS_CANCELLATION" value="cancellation"/>
  </appSettings>
  <connectionStrings>
    <!-- Desarrollo -->
    <!--    
    <add name="MySQLBroxel_RDG" connectionString="Server=10.210.66.59;Uid=appnetuserdes;Pwd=2sZcuiawnWkb;Database=broxelco_rdg;check parameters=false;" />
    <add name="SQLPS" connectionString="Data Source=192.168.80.187;Initial Catalog=pagoserviciosbroxel;Persist Security Info=True;User ID=devuser;Password=Z341nao27L" />
    <add name="SQLBI" connectionString="Data Source=192.168.80.187;Initial Catalog=BroxelImporting;Persist Security Info=True;User ID=devuser;Password=Z341nao27L" />
    <add name="BroxelEntities" connectionString="metadata=res://*/Broxel.csdl|res://*/Broxel.ssdl|res://*/Broxel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.80.187;initial catalog=BroxelPaymentsWs;persist security info=True;user id=usrprod;password=JL47t27j530;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="broxelco_rdgEntities" connectionString="metadata=res://*/broxelMY.csdl|res://*/broxelMY.ssdl|res://*/broxelMY.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=10.210.66.59;user id=appnetuserdes;password=2sZcuiawnWkb;persistsecurityinfo=True;database=broxelco_rdg;convertzerodatetime=True;defaultcommandtimeout=240;allowzerodatetime=True;connectiontimeout=300&quot;" providerName="System.Data.EntityClient" />
    <add name="EmbosadoEntities" connectionString="metadata=res://*/Embosado.csdl|res://*/Embosado.ssdl|res://*/Embosado.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.75.220;initial catalog=Embosado;user id=devuser;password=Z341nao27L;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BroxelSQLEntities" connectionString="metadata=res://*/BroxelSQL.csdl|res://*/BroxelSQL.ssdl|res://*/BroxelSQL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=OF-B5YL562\SQLEXPRESS;initial catalog=Broxel;persist security info=True;user id=sa;password=Axr1075621;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Broxel_MejoravitEntities" connectionString="metadata=res://*/BroxelMejoravit.csdl|res://*/BroxelMejoravit.ssdl|res://*/BroxelMejoravit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.80.187;initial catalog=Broxel_Mejoravit;persist security info=True;user id=devuser;password=Z341nao27L;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BroxelCommonEntities" connectionString="metadata=res://*/BroxelCommon.csdl|res://*/BroxelCommon.ssdl|res://*/BroxelCommon.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.75.220;initial catalog=BroxelCommon;persist security info=True;user id=devuser;password=Z341nao27L;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MYOEntities" connectionString="metadata=res://*/BroxelMYO.csdl|res://*/BroxelMYO.ssdl|res://*/BroxelMYO.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.75.23;initial catalog=MYO;user id=sa;password=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    -->
    <!-- Produccion -->
    
    <add name="MySQLBroxel_RDG" connectionString="Server=10.210.196.40;Uid=appnetuser;Pwd=NjOeaB1eskLnyxb;Database=broxelco_rdg;check parameters=false; default command timeout=300;" />
    <add name="SQLPS" connectionString="Data Source=192.168.80.187;Initial Catalog=pagoserviciosbroxel;Persist Security Info=True;User ID=devuser;Password=Z341nao27L" />
    <add name="SQLBI" connectionString="Data Source=192.168.80.187;Initial Catalog=BroxelImporting;Persist Security Info=True;User ID=devuser;Password=Z341nao27L" />
    <add name="BroxelEntities" connectionString="metadata=res://*/Broxel.csdl|res://*/Broxel.ssdl|res://*/Broxel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.80.187;initial catalog=BroxelPaymentsWs;persist security info=True;user id=usrprod;password=JL47t27j530;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="broxelco_rdgEntities" connectionString="metadata=res://*/broxelMY.csdl|res://*/broxelMY.ssdl|res://*/broxelMY.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=10.210.196.40;user id=appnetuser;password=NjOeaB1eskLnyxb;persistsecurityinfo=True;database=broxelco_rdg;convertzerodatetime=True;defaultcommandtimeout=300;allowzerodatetime=True;connectiontimeout=300&quot;" providerName="System.Data.EntityClient" />
    <add name="EmbosadoEntities" connectionString="metadata=res://*/Embosado.csdl|res://*/Embosado.ssdl|res://*/Embosado.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.75.220;initial catalog=Embosado;user id=devuser;password=Z341nao27L;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BroxelSQLEntities" connectionString="metadata=res://*/BroxelSQL.csdl|res://*/BroxelSQL.ssdl|res://*/BroxelSQL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.80.187;initial catalog=Broxel;persist security info=True;user id=devuser;password=Z341nao27L;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Broxel_MejoravitEntities" connectionString="metadata=res://*/BroxelMejoravit.csdl|res://*/BroxelMejoravit.ssdl|res://*/BroxelMejoravit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.80.187;initial catalog=Broxel_Mejoravit;persist security info=True;user id=devuser;password=Z341nao27L;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />    
    <add name="BroxelCommonEntities" connectionString="metadata=res://*/BroxelCommon.csdl|res://*/BroxelCommon.ssdl|res://*/BroxelCommon.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.80.187;initial catalog=BroxelCommon;persist security info=True;user id=devuser;password=Z341nao27L;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MYOEntities" connectionString="metadata=res://*/BroxelMYO.csdl|res://*/BroxelMYO.ssdl|res://*/BroxelMYO.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.80.90;initial catalog=MYO;user id=bancore;password=on7cfIG8u1guh;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <binding name="AutorizacionSoap11Binding" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00">
          <security mode="Transport" />
        </binding>
        <binding name="AutorizacionSoap11Binding1" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00">
          <security mode="Transport" />
        </binding>
        <binding name="ConsultasSOAP11Binding" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00">
          <security mode="Transport" />
        </binding>
        <binding name="ConsultasSOAP11Binding1" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00">
          <security mode="Transport" />
        </binding>
        <binding name="CASA_SRTMX_OperacionSoap11Binding" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00">
          <security mode="Transport" />
        </binding>
        <binding name="CASA_SRTMX_CuentaSoap11Binding" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00" />
        <binding name="CASA_SRTMX_CuentaSoap11Binding1" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00">
          <security mode="Transport" />
        </binding>
        <binding name="CASA_SRTMX_ComerciosSoap11Binding" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00">
          <security mode="Transport" />
        </binding>
        <binding name="CASA_SRTMX_ComerciosSoap11Binding1" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00">
          <security mode="Transport" />
        </binding>
        <binding name="EfacturaServiceEndpointServiceSoapBinding" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00">
          <security mode="Transport" />
        </binding>
        <binding name="EfacturaServiceEndpointServiceSoapBinding1" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00" />
        <binding name="BasicHttpBinding_IwsSPEI" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00" />
        <binding name="BasicHttpEndpoint" />
        <binding name="AutorizacionSoap11Binding2" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00" />
        <binding name="AutorizacionSoap11Binding3" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00">
          <security mode="Transport" />
        </binding>
        <binding name="CASA_SRTMX_TarjetaSoap11Binding" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00">
          <security mode="Transport" />
        </binding>
        <binding name="CASA_SRTMX_TarjetaSoap11Binding1" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00" />
        <binding name="BasicHttpBinding_IsrvBroxel" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00" />
        <binding name="BasicHttpBinding_IwsMigraUsuarioToMyo" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00" />
        <binding name="BasicHttpBinding_IGeneralAccountService" />
        <binding name="BasicHttpBinding_IPaymentService" />
        <binding name="BasicHttpBinding_IMovementsService" />
        <binding name="BasicHttpBinding_IMovementsService1" />
        <binding name="BasicHttpBinding_ICardStatusService" />
      </basicHttpBinding>
      <customBinding>
        <binding name="AutorizacionSoap12Binding" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="ConsultasSOAP12Binding" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="CASA_SRTMX_OperacionSoap12Binding" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="CASA_SRTMX_CuentaSoap12Binding" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="CASA_SRTMX_ComerciosSoap12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="AutorizacionSoap12Binding1" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="CASA_SRTMX_TarjetaSoap12Binding" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://10.16.20.70:8280/services/Autorizacion.AutorizacionHttpSoap11Endpoint"
        binding="basicHttpBinding" bindingConfiguration="AutorizacionSoap11Binding"
        contract="wsAutorizacion.AutorizacionPortType" name="AutorizacionHttpSoap11Endpoint" />
      <endpoint address="https://10.16.20.70:8243/services/Autorizacion.AutorizacionHttpsSoap11Endpoint"
        binding="basicHttpBinding" bindingConfiguration="AutorizacionSoap11Binding1"
        contract="wsAutorizacion.AutorizacionPortType" name="AutorizacionHttpsSoap11Endpoint" />
      <endpoint address="https://10.16.20.70:8243/services/Autorizacion.AutorizacionHttpsSoap12Endpoint"
        binding="customBinding" bindingConfiguration="AutorizacionSoap12Binding"
        contract="wsAutorizacion.AutorizacionPortType" name="AutorizacionHttpsSoap12Endpoint" />
      <endpoint address="http://10.16.20.70:8280/services/Autorizacion.AutorizacionHttpSoap12Endpoint"
        binding="customBinding" bindingConfiguration="AutorizacionSoap12Binding"
        contract="wsAutorizacion.AutorizacionPortType" name="AutorizacionHttpSoap12Endpoint" />
      <endpoint address="http://10.16.20.70:8280/services/Consultas.SOAP11Endpoint"
        binding="basicHttpBinding" bindingConfiguration="ConsultasSOAP11Binding"
        contract="wsConsultas.ConsultasPortType" name="SOAP11Endpoint" />
      <endpoint address="local:///services/Consultas.LOCALSOAP11Endpoint/"
        binding="basicHttpBinding" bindingConfiguration="ConsultasSOAP11Binding"
        contract="wsConsultas.ConsultasPortType" name="LOCALSOAP11Endpoint" />
      <endpoint address="https://10.16.20.70:8243/services/Consultas.SecureSOAP11Endpoint"
        binding="basicHttpBinding" bindingConfiguration="ConsultasSOAP11Binding1"
        contract="wsConsultas.ConsultasPortType" name="SecureSOAP11Endpoint" />
      <endpoint address="local:///services/Consultas.LOCALSOAP12Endpoint/"
        binding="customBinding" bindingConfiguration="ConsultasSOAP12Binding"
        contract="wsConsultas.ConsultasPortType" name="LOCALSOAP12Endpoint" />
      <endpoint address="https://10.16.20.70:8243/services/Consultas.SecureSOAP12Endpoint"
        binding="customBinding" bindingConfiguration="ConsultasSOAP12Binding"
        contract="wsConsultas.ConsultasPortType" name="SecureSOAP12Endpoint" />
      <endpoint address="http://10.16.20.70:8280/services/Consultas.SOAP12Endpoint"
        binding="customBinding" bindingConfiguration="ConsultasSOAP12Binding"
        contract="wsConsultas.ConsultasPortType" name="SOAP12Endpoint" />
      <endpoint address="https://10.16.20.70:8243/services/CASA_SRTMX_Comercios.CASA_SRTMX_ComerciosHttpsSoap11Endpoint"
        binding="basicHttpBinding" bindingConfiguration="CASA_SRTMX_ComerciosSoap11Binding"
        contract="wsComercios.CASA_SRTMX_ComerciosPortType" name="CASA_SRTMX_ComerciosHttpsSoap11Endpoint" />
      <endpoint address="http://10.16.20.70:8280/services/CASA_SRTMX_Comercios.CASA_SRTMX_ComerciosHttpSoap11Endpoint"
        binding="basicHttpBinding" bindingConfiguration="CASA_SRTMX_ComerciosSoap11Binding1"
        contract="wsComercios.CASA_SRTMX_ComerciosPortType" name="CASA_SRTMX_ComerciosHttpSoap11Endpoint" />
      <endpoint address="https://10.16.20.70:8243/services/CASA_SRTMX_Comercios.CASA_SRTMX_ComerciosHttpsSoap12Endpoint"
        binding="customBinding" bindingConfiguration="CASA_SRTMX_ComerciosSoap12Binding"
        contract="wsComercios.CASA_SRTMX_ComerciosPortType" name="CASA_SRTMX_ComerciosHttpsSoap12Endpoint" />
      <endpoint address="http://10.16.20.70:8280/services/CASA_SRTMX_Comercios.CASA_SRTMX_ComerciosHttpSoap12Endpoint"
        binding="customBinding" bindingConfiguration="CASA_SRTMX_ComerciosSoap12Binding"
        contract="wsComercios.CASA_SRTMX_ComerciosPortType" name="CASA_SRTMX_ComerciosHttpSoap12Endpoint" />
      <endpoint address="http://10.16.20.70:8280/services/CASA_SRTMX_Cuenta.CASA_SRTMX_CuentaHttpSoap11Endpoint"
        binding="basicHttpBinding" bindingConfiguration="CASA_SRTMX_CuentaSoap11Binding"
        contract="wsCuenta.CASA_SRTMX_CuentaPortType" name="CASA_SRTMX_CuentaHttpSoap11Endpoint" />
      <endpoint address="https://10.16.20.70:8243/services/CASA_SRTMX_Cuenta.CASA_SRTMX_CuentaHttpsSoap11Endpoint"
        binding="basicHttpBinding" bindingConfiguration="CASA_SRTMX_CuentaSoap11Binding1"
        contract="wsCuenta.CASA_SRTMX_CuentaPortType" name="CASA_SRTMX_CuentaHttpsSoap11Endpoint" />
      <endpoint address="http://10.16.20.70:8280/services/CASA_SRTMX_Cuenta.CASA_SRTMX_CuentaHttpSoap12Endpoint"
        binding="customBinding" bindingConfiguration="CASA_SRTMX_CuentaSoap12Binding"
        contract="wsCuenta.CASA_SRTMX_CuentaPortType" name="CASA_SRTMX_CuentaHttpSoap12Endpoint" />
      <endpoint address="https://10.16.20.70:8243/services/CASA_SRTMX_Cuenta.CASA_SRTMX_CuentaHttpsSoap12Endpoint"
        binding="customBinding" bindingConfiguration="CASA_SRTMX_CuentaSoap12Binding"
        contract="wsCuenta.CASA_SRTMX_CuentaPortType" name="CASA_SRTMX_CuentaHttpsSoap12Endpoint" />
      <endpoint address="https://efactura.bisnet.com.mx:8441/efacturaws/EfacturaService"
        binding="basicHttpBinding" bindingConfiguration="EfacturaServiceEndpointServiceSoapBinding"
        contract="wsTimbrado.EfacturaService" name="EfacturaServiceEndpointPort" />
      <endpoint address="http://localhost:9030/wsSPEI.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IwsSPEI" contract="wsSPEI.IwsSPEI"
        name="BasicHttpBinding_IwsSPEI" />
      <endpoint address="https://10.16.20.70:8243/services/CASA_SRTMX_Operacion.CASA_SRTMX_OperacionHttpsSoap11Endpoint"
        binding="basicHttpBinding" bindingConfiguration="CASA_SRTMX_OperacionSoap11Binding"
        contract="wsOperaciones.CASA_SRTMX_OperacionPortType" name="CASA_SRTMX_OperacionHttpsSoap11Endpoint" />
      <endpoint address="https://10.16.20.70:8243/services/CASA_SRTMX_Operacion.CASA_SRTMX_OperacionHttpsSoap12Endpoint"
        binding="customBinding" bindingConfiguration="CASA_SRTMX_OperacionSoap12Binding"
        contract="wsOperaciones.CASA_SRTMX_OperacionPortType" name="CASA_SRTMX_OperacionHttpsSoap12Endpoint" />
      <endpoint address="http://10.178.130.16:9008/ServicioSMS.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpEndpoint"
        contract="wsSMS.IServicioSMS" name="BasicHttpEndpoint" />
      <endpoint address="http://127.0.0.1:8000/Autorizacion" binding="basicHttpBinding"
        bindingConfiguration="AutorizacionSoap11Binding2" contract="newWSAutorizacion.AutorizacionPortType"
        name="Autorizacion" />
      <endpoint address="http://127.0.0.1:8000/Autorizacion" binding="basicHttpBinding"
        bindingConfiguration="AutorizacionSoap11Binding2" contract="newWSAutorizacion.AutorizacionPortType"
        name="AutorizacionHttpSoap11Endpoint1" />
      <endpoint address="https://127.0.0.1:8000/Autorizacion" binding="basicHttpBinding"
        bindingConfiguration="AutorizacionSoap11Binding3" contract="newWSAutorizacion.AutorizacionPortType"
        name="AutorizacionHttpsSoap11Endpoint1" />
      <endpoint address="http://127.0.0.1:8000/Autorizacion" binding="customBinding"
        bindingConfiguration="AutorizacionSoap12Binding1" contract="newWSAutorizacion.AutorizacionPortType"
        name="AutorizacionHttpSoap12Endpoint1" />
      <endpoint address="https://127.0.0.1:8000/Autorizacion" binding="customBinding"
        bindingConfiguration="AutorizacionSoap12Binding1" contract="newWSAutorizacion.AutorizacionPortType"
        name="AutorizacionHttpsSoap12Endpoint1" />
      <endpoint address="https://10.16.20.80:8243/services/CASA_SRTMX_Tarjeta.CASA_SRTMX_TarjetaHttpsSoap11Endpoint"
        binding="basicHttpBinding" bindingConfiguration="CASA_SRTMX_TarjetaSoap11Binding"
        contract="wsTarjeta.CASA_SRTMX_TarjetaPortType" name="CASA_SRTMX_TarjetaHttpsSoap11Endpoint" />
      <endpoint address="https://10.16.20.80:8243/services/CASA_SRTMX_Tarjeta.CASA_SRTMX_TarjetaHttpsSoap12Endpoint"
        binding="customBinding" bindingConfiguration="CASA_SRTMX_TarjetaSoap12Binding"
        contract="wsTarjeta.CASA_SRTMX_TarjetaPortType" name="CASA_SRTMX_TarjetaHttpsSoap12Endpoint" />
      <endpoint address="http://localhost:7000/srvBroxelODT.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IsrvBroxel" contract="svrOdt.IsrvBroxel"
        name="BasicHttpBinding_IsrvBroxel" />
      <endpoint address="http://localhost:8050/wsMigraUsuarioToMyo.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IwsMigraUsuarioToMyo"
        contract="wsMigraUsuarioToMyo.IwsMigraUsuarioToMyo" name="BasicHttpBinding_IwsMigraUsuarioToMyo" />
      <endpoint address="http://10.209.129.80:8088/IssuerCustomer.ClientWS.ServiceHost/Services/GeneralAccountService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGeneralAccountService"
        contract="GeneralAccountService.IGeneralAccountService" name="BasicHttpBinding_IGeneralAccountService" />
      <endpoint address="http://760290-net:8080/PayStudioBOWS/IssuerCommercial.ClientWS.ServiceHost/Services/PaymentService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPaymentService"
        contract="PaymentService.IPaymentService" name="BasicHttpBinding_IPaymentService" />
      <endpoint address="http://bx-paytrue-back:8080/PayStudioWS/IssuerCommercial.ClientWS.ServiceHost/Services/MovementsService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMovementsService1"
        contract="wsMovementsService.IMovementsService" name="BasicHttpBinding_IMovementsService" />
      <endpoint address="http://10.209.129.80:8088/IssuerCustomer.ClientWS.ServiceHost/Services/CardStatusService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICardStatusService"
        contract="CardStatusService.ICardStatusService" name="BasicHttpBinding_ICardStatusService" />
    </client>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMessagesAtServiceLevel="true" logMalformedMessages="true" />
      <!--logMessagesAtTransportLevel="true" />-->
    </diagnostics>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information,ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true">
      <listeners>
        <add name="textListener" type="Broxel.Utilerias.Logeo.MaxTextWriteTraceListener, App_Code" initializeData="C:\Transfer\Catarsys\wsBroxel.log" />
        <remove name="Default" />
      </listeners>
    </trace>
    <sharedListeners>
      <add initializeData="C:\Transfer\Catarsys\wsBroxel.svclog" name="xml" type="wsBroxel.RollingXmlWriterTraceListener, App_Code" />
    </sharedListeners>
  </system.diagnostics>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows" />
    <!--
       The <customErrors> section enables configuration 
       of what to do if/when an unhandled error occurs 
       during the execution of a request. Specifically, 
       it enables developers to configure html error pages 
       to be displayed in place of a error stack trace.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <httpRuntime executionTimeout="36000" />
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL" description="ADO.Net driver for MySQL" invariant="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>