
<div class="row">
    <div class="col-sm3 form-group">
        <img class="img-thumbnail" src="" id="imgFoto" />
        <br />
        <br />
        <input type="file" id="foto" multiple accept="image/*" class="form-control" />
    </div>
    <div class="col-sm-3 form-group">
        Estándar de competencia:
        <select id="estandarCompetencia" class="dropdown form-control" style="width:200px;">
            <option>    </option>
        </select>
    </div>
    <div class="col-sm-3 form-group">
        Fecha y hora de Registro
        <input class="form-control" type="date" id="fechaRegistro" />
    </div>
    <div class="col-sm-3 form-group">
        Apellido Paterno:
        <input class="form-control" type="text" id="apPaterno" />
    </div>
    <div class="col-sm-3 form-group">
        Apellido Materno:
        <input class="form-control" type="text" id="apMaterno" />
    </div>
    <div class="col-sm-3 form-group">
        Nombre:
        <input class="form-control" type="text" id="nombre" />
    </div>
    <div class="col-sm-3 form-group">
        Lugar de nacimiento:
        <input class="form-control" type="text" id="lugarNacimiento" />
    </div>
    <div class="col-sm-3 form-group">
        Fecha de nacimiento:
        <input class="form-control" type="date" id="fechaNacimiento" />
    </div>
    <div class="col-sm-3 form-group">
        Nacionalidad:
        <input class="form-control" type="text" id="fechaRegistro" />
    </div>
    <div class="col-sm-3 form-group">
        CURP:
        <input class="form-control" type="text" id="curp" />
    </div>
    <div class="col-sm-3 form-group">
        Último grado escolar:
        <input class="form-control" type="text" id="gradoEscolar" />
    </div>
    <div class="col-sm-3 form-group">
        Entidad Federativa
        <select id="entidadFederativa" class="dropdown form-control" style="width:200px;">
            <option>    </option>
        </select>
    </div>
    <div class="col-sm-3 form-group">
        Municipio/Demarcación:
        <select id="municipioDelegacion" class="dropdown form-control" style="width:200px;">
            <option>    </option>
        </select>
    </div>
    <div class="col-sm-3 form-group">
        Colonia:
        <input class="form-control" type="text" id="colonia" />
    </div>
    <div class="col-sm-3 form-group">
        Calle:
        <input class="form-control" type="text" id="calle" />
    </div>
    <div class="col-sm-3 form-group">
        Número exterior:
        <input class="form-control" type="text" id="numeroExterior" />
    </div>
    <div class="col-sm-3 form-group">
        Numero interior:
        <input class="form-control" type="text" id="numeroInterior" />
    </div>
    <div class="col-sm-3 form-group">
        Código Postal:
        <input class="form-control" type="text" id="codigoPostal" />
    </div>
    <div class="col-sm-3 form-group">
        Años de servicio:
        <input class="form-control" type="text" id="anoServicio" />
    </div>
    <div class="col-sm-3 form-group">
        CUIP:
        <input class="form-control" type="text" id="cuip" />
    </div>
    <div class="col-sm-3 form-group">
        Edad:
        <input class="form-control" type="text" id="edad" />
    </div>
    <div class="col-sm-3 form-group">
        Sexo:
        <input class="form-control" type="text" id="sexo" />
    </div>
    <div class="col-sm-3 form-group">
        RFC:
        <input class="form-control" type="text" id="rfc" />
    </div>
    <div class="col-sm-3 form-group">
        Grado:
        <input class="form-control" type="text" id="grado" />
    </div>
    <div class="col-sm-3 form-group">
        Cargo:
        <input class="form-control" type="text" id="cargo" />
    </div>
    <div class="col-sm-3 form-group">
        Teléfono casa:
        <input class="form-control" type="tel" id="telefonoCasa" />
    </div>
    <div class="col-sm-3 form-group">
        Teléfono celular:
        <input class="form-control" type="tel" id="telefonoCelular" />
    </div>
    <div class="col-sm-3 form-group">
        Teléfono laboral (EXT):
        <input class="form-control" type="tel" id="telefonoLaboral" />
    </div>
    <div class="col-sm-3 form-group">
        Email personal:
        <input class="form-control" type="email" id="emailPersonal" />
    </div>
    <div class="col-sm-3 form-group">
        Email laboral:
        <input class="form-control" type="email" id="emailLaboral" />
    </div>
</div>
<div class="row">
    <div class="left">
        <input type="button" class="btn btn-default" value="Enviar" id="btnEnviar" />
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/conec/catalogo/Solicitud.js"></script>
}


