<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDireccionesWcf" />
                <binding name="BasicHttpBinding_IUsuariosWcf" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8328/ServiciosWcf/DireccionesWcf.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDireccionesWcf"
                contract="DireccionesWcf.IDireccionesWcf" name="BasicHttpBinding_IDireccionesWcf" />
            <endpoint address="http://localhost:8328/ServiciosWcf/UsuariosWcf.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUsuariosWcf"
                contract="UsuariosWcf.IUsuariosWcf" name="BasicHttpBinding_IUsuariosWcf" />
        </client>
    </system.serviceModel>
</configuration>