
/* Set padding to keep content from hitting the edges */
.body-content {
    margin: 0 !important;
    padding: 0 !important;
    background-color: aliceblue;
    width: 100%;
    height: 100%;
    background-image: url('../image/Corporate Cloud.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.FormSignIn {
    background-color:#38666a;
    color: #bbbbbb;
    padding: 30px;
    opacity: 0.6;
    filter: alpha(opacity=60)
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 1500px;
}
