#BackProcess
{
	
	opacity: 1.5;
	filter: alpha(opacity=50);
    background: url(../images/wait.gif) no-repeat scroll center center #000;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.field-validation-error {
    color: #d0021b;
    font-size: small;
}

.form-control.input-validation-error {
    border-color:#d0021b;
}

.input-validation-error {
    border-color:#d0021b;
}

.modal-dialog {
    position: initial !important;
}