@{
    ViewBag.Title = "Consulta Referencias";
}
<ol class="breadcrumb">
    <li><span class="glyphicon glyphicon-home" aria-hidden="true"></span></li>
    <li><a href="#">Catalogos</a></li>
    <li><a href="~/Catalogo/Referencias" class="active">Referencias</a></li>
</ol>
<div class="flip">
    <div class="front">
        <div class="top-buffer">
            <h3>@ViewBag.Title</h3>
            <hr class="red">
        </div>
            <div class="col-sm-4 form-group">
                <label class="control-label">Estatus:</label>
                <div class="col-sm-12">
                    <label class="radio-inline" for="activo">
                        <input type="radio" name="estatus" value="true" checked="checked">Activo
                    </label>
                    <label class="radio-inline" for="inactivo">
                        <input type="radio" name="estatus" value="false">Inactivo
                    </label>
                </div>
            </div>
            <div class="pull-right">
                <button type="button" class="btn btn-default" id="btnBuscar">
                    <span class="glyphicon glyphicon-search"></span>Buscar
                </button>
            </div>            
            <div id="divReferencia"></div>        
        </div>
    <div class="back">

    </div>
</div>
@section Scripts{
    <script src="~/Scripts/conec/catalogo/referencia.js"></script>    
}

