
@{
    ViewBag.Title = "Consulta TipoDocumento";
}
<style>
    .top-buffer, .vertical-buffer {
        margin: 0;
    }

    hr.red {
        margin: 10px 0 10px;
    }

    .table-fixed {
        width: 100%;
    }

    tbody {
        height: 300px;
        overflow-y: auto;
        width: 100%;
    }

    thead, tbody, tr, td, th {
        display: block;
    }

        tbody td {
            float: left;
        }

        thead tr th {
            float: left;
            background-color: #9dcbef;
            border-color: #e67e22;
        }
</style>
@section Styles{
<link href="~/Content/jquery-ui.css" rel="stylesheet" />   
}

<ol class="breadcrumb">
    <li><span class="glyphicon glyphicon-home" aria-hidden="true"></span></li>
    <li><a href="#">Catalogos</a></li>
    <li><a href="#" class="active">Tipo Documento</a></li>
</ol>
<div class="flip">
    <div class="front">
        <div class="top-buffer">
            <h3>@ViewBag.Title</h3>
            <hr class="red">
        </div>
        <div class="row">
            <div class="col-sm-7 form-group">
                
                <div class="col-sm-7">
                    <label class="control-label">Estatus:</label>
                    <label class="radio-inline" for="activo">
                        <input type="radio" name="estatus" value="true">Activo
                    </label>
                    <label class="radio-inline" for="inactivo">
                        <input type="radio" name="estatus" value="false">Inactivo
                    </label>
                </div>
                <div class="col-sm-5">
                    <div>
                        <label class="control-label">Tipo Documento:</label>
                        <input id="AutComTD" class="form-control dropdown-toggle" placeholder="Ingresa Nombre" >
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-5">
                <div class="col-sm-6">
                    
                </div>
                <div class="col-sm-6">
                    <button type="button" class="btn btn-default" id="btnBuscar">
                        <span class="glyphicon glyphicon-search"></span>Buscar
                    </button>
                </div>
            </div>
        </div>
        <div typeof="hidden" id="divTipoDocumento"></div>
    </div>
    <div class="back">

    </div>
</div>
@section Scripts{
    <script src="~/Scripts/controls/gobGrid.js"></script>
    <script src="~/Scripts/conec/catalogo/tipodocumento.js"></script>
}

