
<div class="top-buffer">
    <h3>@ViewBag.Title</h3>
    <hr class="red">
</div>
<form class="col-sm-8 form-inline">
    <div class="col-sm-4 form-group">
        <label class="control-label">Estatus:</label>
        <div>
            <label class="radio-inline" for="activo">
                <input type="radio" name="activo" id="activo">Activo
            </label>
            <label class="radio-inline" for="inactivo">
                <input type="radio" name="activo" id="inactivo">Inactivo
            </label>
        </div>
    </div>
    <div class="col-sm-4 form-group">
        <label id="periodo" class="control-label">Periodos:</label>
        <select class="form-control">
            <option>- Selecciona -</option>
            <option>Periodos 1</option>
            <option>Periodos 1</option>
        </select>
    </div>

</form>
<div class="row">
    <button type="button" class="btn btn-default btn-sm" id="btnCreate">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
</div>
<div id="divPeriodo"></div>  