@{
    ViewBag.Title = "Consulta Referencias";
}
<<<<<<< .mine
@section Styles{
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
}
<ol class="breadcrumb">
||||||| .r261
<ol class="breadcrumb">
=======
@*<ol class="breadcrumb">
>>>>>>> .r272
    <li><span class="glyphicon glyphicon-home" aria-hidden="true"></span></li>
    <li><a href="#">Catalogos</a></li>
    <li><a href="~/Catalogo/Referencias" class="active">Referencias</a></li>
</ol>*@
<div class="flip">
    <div class="front">
        <div class="top-buffer">
            <h3>@ViewBag.Title</h3>
            <hr class="red">
        </div>
            <div class="col-sm-3 form-group">
                <label class="control-label">Estatus:</label>
                <div class="col-sm-12">
                    <label class="radio-inline" for="activo">
                        <input type="radio" name="estatus" value="true" checked="checked">Activo
                    </label>
                    <label class="radio-inline" for="inactivo">
                        <input type="radio" name="estatus" value="false">Inactivo
                    </label>
                </div>
            </div>
            <div class="ui-widget col-sm-3 form-group">
                <label class="control-label">Clave Referencia:</label>
                <input id="Referencias" class="form-control dropdown-toggle" placeholder="Ingresa Nombre">
            </div>
            <div class="pull-right">
                <button type="button" class="btn btn-default" id="btnBuscar">
                    <span class="glyphicon glyphicon-search"></span>Buscar
                </button>
            </div>            
            <div id="divReferencia"></div>        
        </div>
    <div class="back">

    </div>
    <input type="hidden" id="IdReferencia" />

</div>
@section Scripts{
    <script src="~/Scripts/conec/catalogo/referencia.js"></script>    
    <script src="~/Scripts/jquery/jquery-ui.js"></script>

}

