.panel {
    background: transparent;
}

.accordion-group.panel {
    margin-bottom: 1.5em;
    border: none;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.accordion-header {
    padding: 0.5em 0;
    position: relative;
}

    .accordion-header:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        display: block;
        width: 100%;
        height: 1px;
        margin-top: -0.5px;
        background: #e7e7e7;
        z-index: 0;
    }

.accordion-title {
    display: inline-block;
    background: #fff;
    position: relative;
    z-index: 1;
    font-size: 1.2em;
    padding: 0 15px;
    margin-left: 20px;
}

.accordion-body-wrapper {
    padding: 25px 0 10px 35px;
    position: relative;
}

    .accordion-body-wrapper:before {
        content: '';
        position: absolute;
        display: block;
        width: 1px;
        height: 90%;
        left: 9.5px;
        top: 5%;
        background: #e7e7e7;
    }

.accordion-panel-group .accordion-body .accordion-body-wrapper {
    padding: 20px 0;
}

.accordion-body p {
    text-indent: 20px;
}

.accordion-body ul {
    padding-left: 20px;
}

    .accordion-body ul li {
        color: #6d6c67;
        padding: 5px 0;
    }

.accordion-panel-group.panel {
    margin-bottom: 0;
}

.accordion-panel-title {
    font-size: 1.2em;
    color: #5a5a5a;
    margin-bottom: 0;
    display: block;
    padding: 10px 20px;
    border: 1px solid #eee;
    border-radius: 6px;
    background: #f7f7f7;
    position: relative;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

    .accordion-panel-title > i {
        min-width: 23px;
        margin-right: 15px;
        font-size: 20px;
    }

    .accordion-panel-title:hover {
        color: #3a3a3a;
        background: #f2f2f2;
        border-color: #dbdbdb;
    }
