table {
    width: 100%;
    display:block;
}
thead {
    display: inline-block;
    width: 100%;
    height: 100px;
}
tbody {
    height: 400px;
    display: inline-block;
    width: 100%;
    overflow: auto;
}