 input[id=numT]::-webkit-outer-spin-button,
    input[id=numT]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
    input[id=cantidad]::-webkit-outer-spin-button,
    input[id=cantidad]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[id=cantidad]{
        -moz-appearance:textfield;
    }

input[id=numT] {
    -moz-appearance:textfield;
    width: 30px;
}

th{
    text-align:center;
}
td{
    text-align:center;
}
td[id=sub]{
    font-size: small;
}