SELECT * FROM SSISTABLEPRODUCTOS

SELECT * FROM ProProducto

---------------------------------------- QUERY BULK INSERT (MARCAS, MODELOS) -----------------------------------

SELECT 
--*
 
FROM SSISSTABLEPRODUCTOS AS SPRO
INNER JOIN 
