USE [Suncorp]
GO
/****** Object:  StoredProcedure [dbo].[InsertaCatalogosFam]    Script Date: 07/06/2016 18:09:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ETLInsertCatalogsFam]
	@ID_FAMILIAS int
    ,@TITULO Varchar(MAX)
	,@CREADOR Varchar(MAX)
	,@FECHA_CREACION Varchar(MAX)
	,@FA_NOMBRE Varchar(MAX)
	,@TITULODETALLE Varchar(MAX)
AS
BEGIN
  SET NOCOUNT ON;

INSERT INTO SSISTABLEFAMILIAS (ID_FAMILIAS, TITULO, CREADOR, FECHA_CREACION, FA_NOMBRE,TITULODETALLE)
VALUES (@ID_FAMILIAS, @TITULO, @CREADOR, @FECHA_CREACION, @FA_NOMBRE, @TITULODETALLE)


END
