<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>192.168.82.91</MSDeployServiceURL>
    <DeployIisAppPath>wsBroxel</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>maulopez</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BroxelEntities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="wsBroxel.BroxelEntities, wsBroxel" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="broxelco_rdgEntities" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="wsBroxel.broxelco_rdgEntities, wsBroxel" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="EmbosadoEntities" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="wsBroxel.EmbosadoEntities, wsBroxel" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MySQLBroxel_RDG" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=10.210.196.40;Uid=appnetuser;Pwd=NjOeaB1eskLnyxb;Database=broxelco_rdg;check parameters=false;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MySQLBroxel_RDG_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=10.210.196.40;Uid=appnetuser;Pwd=NjOeaB1eskLnyxb;Database=broxelco_rdg;check parameters=false;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="BroxelSQLEntities" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="wsBroxel.BroxelSQLEntities, wsBroxel" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SQLPS" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.80.187;Initial Catalog=pagoserviciosbroxel;Persist Security Info=True;User ID=devuser;Password=Z341nao27L" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SQLPS_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.80.187;Initial Catalog=pagoserviciosbroxel;Persist Security Info=True;User ID=devuser;Password=Z341nao27L" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Broxel_MejoravitEntities" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="wsBroxel.Broxel_MejoravitEntities, wsBroxel" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="BroxelCommonEntities" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="wsBroxel.BroxelCommonEntities, wsBroxel" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="wsBroxel.MYOEntities" Order="11" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="wsBroxel.MYOEntities, wsBroxel" Origin="" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BroxelCommonEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)broxelco_rdgEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BroxelEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BroxelSQLEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Broxel_MejoravitEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EmbosadoEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MySQLBroxel_RDG-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)wsBroxel.MYOEntities-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="wsBroxel.MYOEntities" />
  </ItemGroup>
</Project>