<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
  <!--<appSettings/>
  <connectionStrings/>-->
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime maxRequestLength="2096999" executionTimeout="99999999999"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <!--
          The <authentication> section enables configuration 
          of the security authentication mode used by 
          ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
           The <customErrors> section enables configuration 
           of what to do if/when an unhandled error occurs 
           during the execution of a request. Specifically, 
           it enables developers to configure html error pages 
           to be displayed in place of a error stack trace.

           <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
             <error statusCode="403" redirect="NoAccess.htm" />
             <error statusCode="404" redirect="FileNotFound.htm" />
           </customErrors>
        -->
    <customErrors mode="RemoteOnly" defaultRedirect="~/Generales/frmError.aspx"/>
    <sessionState timeout="15"/>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
      <add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </handlers>
  </system.webServer>
  <location allowOverride="true">
    <appSettings>
      
      <!--Producción-->
      <!--<add key="base" value="swhFpQnol9cdB5K4wodH/c0/24zBYzcKHqa4uU7X82BU6HROQmYMsF43ofQxFNhffnr9isuC8LPntF7gPSFe4X2L2cJ8IJGfxyLGu8NoHxE=" />
      <add key="bd" value="swhFpQnol9cdB5K4wodH/c0/24zBYzcKHqa4uU7X82BXKbuD/4nSpQ8iX0X2x5QRDwKW2JtjeoJjUO7FR3ncr4ehZQPTYyYtHkABpWQYsadfOifqBSgzLQVNHmC4wQgW"/>
      <add key="reporte" value="http://SGMET-SPFRS/ReportServer" />-->

      <!--DESARROLLO-->
      <add key="base" value="A6F5Vc3ZtyuveqgzKeZ2ppr01UpHLRXR0Iz4wT3D0GCa9kBnZkCf8zOevXIZ75dZVlLkXKORQeVtN3ni+xhbHqI8BZfJzu8gtsRfxCmeim8="/>
      <add key="bd" value="A6F5Vc3ZtyuveqgzKeZ2ppr01UpHLRXR0Iz4wT3D0GCa9kBnZkCf8zOevXIZ75dZiXG6SnNOifXHdPJE57Oiyg1dl8Y4pvg7ITMYg40Io/1qSIXpKSAfZsdoKhGw4KVt"/>
      <add key="reporte" value="http://10.237.57.48/ReportServer_INSTANCIA411"/>

      <!--100.70-->
      <!--<add key="base" value="Dn/wCS31aBXvmAkabEQdY2Jcf2NetZz5/HyOfKZuKRzK43xy75AaDDSuZ4gusWuXrgvRMxAkonTSt66eVdnIbFJO3Ml9cn5uqtn0CXCrqfs="/>
      <add key="bd" value="Dn/wCS31aBXvmAkabEQdY2Jcf2NetZz5/HyOfKZuKRzOCgf7ZphUCfVGOq60up7jWGbfZFVi6cwDcKPQOeXq3zaO2wJ5yiCxP8fg3I2neGABdlCnw+Hzxo0simTlr7Zf"/>
      <add key="reporte" value="http://10.237.57.48/ReportServer_INSTANCIA411"/>-->
     
      <add key="provider" value="S8VO+1t2riR4pVuDtmn2pBPKk1GNxk5CKvnSPMd6KIA="/>
      <add key="smtpServer" value="10.237.48.5"/>
      <add key="origenCorreo" value="spfservicios.sql@cns.gob.mx"/>
    </appSettings>
  </location>
</configuration>