<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <connectionStrings>
    <add name="MySQLBroxel_RDG" connectionString="Server=10.210.66.59;Uid=appnetuserdes;Pwd=2sZcuiawnWkb;Database=broxelco_rdg;check parameters=false;" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup></configuration>
