@model GOB.SPF.ConecII.Web.Models.UiParrafos
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dissmiss="modal" aria-hidden="true" onclick="closeModal();">
            &times;
        </button>
        <hgroup class="title">
            <h1>
                @ViewBag.titulo
            </h1>
        </hgroup>
    </div>
    <div class="modal-body">
        @Html.EditorForModel()
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success">Aceptar</button>
        <button type="button" class="btn btn-danger" onclick="closeModal();">Cancelar </button>
    </div>
    @Html.ValidationSummary(excludePropertyErrors: false)
</div>
