.btn-margin {
    margin: 10px 0;
}

select[multiple] {
    height: 155px;
}

hr.red {
    margin: 10px 0 20px;
}

.btn-group-sm > .btn, .btn-sm {
    padding: 5px 10px;
    font-size: 14px;
    text-decoration: none;
    line-height: 2;
    border-radius: 4px;
}
