<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AutorizacionSoap11Binding" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00">
          <security mode="Transport" />
        </binding>
        <binding name="AutorizacionSoap11Binding1" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00">
          <security mode="Transport" />
        </binding>
        <binding name="CASA_SRTMX_CuentaSoap11Binding" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00" />
        <binding name="CASA_SRTMX_CuentaSoap11Binding1" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00">
          <security mode="Transport" />
        </binding>
        <binding name="CASA_SRTMX_TarjetaSoap11Binding" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00">
          <security mode="Transport" />
        </binding>
        <binding name="CASA_SRTMX_TarjetaSoap11Binding1" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00" />
        <binding name="CASA_SRTMX_OperacionSoap11Binding" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00">
          <security mode="Transport" />
        </binding>
        <binding name="CASA_SRTMX_OperacionSoap11Binding1" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00" />
        <binding name="AutorizacionSoap11Binding2" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00" />
        <binding name="AutorizacionSoap11Binding3" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00">
          <security mode="Transport" />
        </binding>
        <binding name="CASA_SRTMX_CuentaBinding" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00" />
        <binding name="CASA_SRTMX_TarjetaBinding" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00">
          <security mode="Transport" />
        </binding>
        <binding name="CASA_SRTMX_TarjetaBinding1" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00" />
        <binding name="CASA_SRTMX_OperacionBinding" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00">
          <security mode="Transport" />
        </binding>
        <binding name="CASA_SRTMX_OperacionBinding1" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00" />
        <binding name="CASA_SRTMX_TarjetaEstadoBinding" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00">
          <security mode="Transport" />
        </binding>
        <binding name="CASA_SRTMX_TarjetaEstadoBinding1" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00" />
      </basicHttpBinding>
      <customBinding>
        <binding name="AutorizacionSoap12Binding" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="CASA_SRTMX_CuentaSoap12Binding" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="CASA_SRTMX_TarjetaSoap12Binding" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="CASA_SRTMX_OperacionSoap12Binding" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="AutorizacionSoap12Binding1" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://10.16.20.70:8280/services/Autorizacion.AutorizacionHttpSoap11Endpoint"
        binding="basicHttpBinding" bindingConfiguration="AutorizacionSoap11Binding"
        contract="wsAutorizacion.AutorizacionPortType" name="AutorizacionHttpSoap11Endpoint" />
      <endpoint address="https://10.16.20.70:8243/services/Autorizacion.AutorizacionHttpsSoap11Endpoint"
        binding="basicHttpBinding" bindingConfiguration="AutorizacionSoap11Binding1"
        contract="wsAutorizacion.AutorizacionPortType" name="AutorizacionHttpsSoap11Endpoint" />
      <endpoint address="https://10.16.20.70:8243/services/Autorizacion.AutorizacionHttpsSoap12Endpoint"
        binding="customBinding" bindingConfiguration="AutorizacionSoap12Binding"
        contract="wsAutorizacion.AutorizacionPortType" name="AutorizacionHttpsSoap12Endpoint" />
      <endpoint address="http://10.16.20.70:8280/services/Autorizacion.AutorizacionHttpSoap12Endpoint"
        binding="customBinding" bindingConfiguration="AutorizacionSoap12Binding"
        contract="wsAutorizacion.AutorizacionPortType" name="AutorizacionHttpSoap12Endpoint" />
      <endpoint address="http://10.16.20.70:8280/services/CASA_SRTMX_Cuenta.CASA_SRTMX_CuentaHttpSoap11Endpoint"
        binding="basicHttpBinding" bindingConfiguration="CASA_SRTMX_CuentaSoap11Binding"
        contract="wsCuenta.CASA_SRTMX_CuentaPortType" name="CASA_SRTMX_CuentaHttpSoap11Endpoint" />
      <endpoint address="https://10.16.20.70:8243/services/CASA_SRTMX_Cuenta.CASA_SRTMX_CuentaHttpsSoap11Endpoint"
        binding="basicHttpBinding" bindingConfiguration="CASA_SRTMX_CuentaSoap11Binding1"
        contract="wsCuenta.CASA_SRTMX_CuentaPortType" name="CASA_SRTMX_CuentaHttpsSoap11Endpoint" />
      <endpoint address="http://10.16.20.70:8280/services/CASA_SRTMX_Cuenta.CASA_SRTMX_CuentaHttpSoap12Endpoint"
        binding="customBinding" bindingConfiguration="CASA_SRTMX_CuentaSoap12Binding"
        contract="wsCuenta.CASA_SRTMX_CuentaPortType" name="CASA_SRTMX_CuentaHttpSoap12Endpoint" />
      <endpoint address="https://10.16.20.70:8243/services/CASA_SRTMX_Cuenta.CASA_SRTMX_CuentaHttpsSoap12Endpoint"
        binding="customBinding" bindingConfiguration="CASA_SRTMX_CuentaSoap12Binding"
        contract="wsCuenta.CASA_SRTMX_CuentaPortType" name="CASA_SRTMX_CuentaHttpsSoap12Endpoint" />
      <endpoint address="https://10.16.20.80:8243/services/CASA_SRTMX_Tarjeta.CASA_SRTMX_TarjetaHttpsSoap11Endpoint"
        binding="basicHttpBinding" bindingConfiguration="CASA_SRTMX_TarjetaSoap11Binding"
        contract="wsTarjeta.CASA_SRTMX_TarjetaPortType" name="CASA_SRTMX_TarjetaHttpsSoap11Endpoint" />
      <endpoint address="https://10.16.20.80:8243/services/CASA_SRTMX_Tarjeta.CASA_SRTMX_TarjetaHttpsSoap12Endpoint"
        binding="customBinding" bindingConfiguration="CASA_SRTMX_TarjetaSoap12Binding"
        contract="wsTarjeta.CASA_SRTMX_TarjetaPortType" name="CASA_SRTMX_TarjetaHttpsSoap12Endpoint" />
      <endpoint address="https://10.16.20.70:8243/services/CASA_SRTMX_Operacion.CASA_SRTMX_OperacionHttpsSoap11Endpoint"
        binding="basicHttpBinding" bindingConfiguration="CASA_SRTMX_OperacionSoap11Binding"
        contract="wsOperaciones.CASA_SRTMX_OperacionPortType" name="CASA_SRTMX_OperacionHttpsSoap11Endpoint" />
      <endpoint address="https://10.16.20.70:8243/services/CASA_SRTMX_Operacion.CASA_SRTMX_OperacionHttpsSoap12Endpoint"
        binding="customBinding" bindingConfiguration="CASA_SRTMX_OperacionSoap12Binding"
        contract="wsOperaciones.CASA_SRTMX_OperacionPortType" name="CASA_SRTMX_OperacionHttpsSoap12Endpoint" />
      <endpoint address="http://127.0.0.1:8000/Autorizacion" binding="basicHttpBinding"
        bindingConfiguration="AutorizacionSoap11Binding2" contract="newWsAutorizacion.AutorizacionPortType"
        name="Autorizacion" />
      <endpoint address="http://127.0.0.1:8000/Autorizacion" binding="basicHttpBinding"
        bindingConfiguration="AutorizacionSoap11Binding2" contract="newWsAutorizacion.AutorizacionPortType"
        name="AutorizacionHttpSoap11Endpoint1" />
      <endpoint address="https://127.0.0.1:8000/Autorizacion" binding="basicHttpBinding"
        bindingConfiguration="AutorizacionSoap11Binding3" contract="newWsAutorizacion.AutorizacionPortType"
        name="AutorizacionHttpsSoap11Endpoint1" />
      <endpoint address="http://127.0.0.1:8000/Autorizacion" binding="customBinding"
        bindingConfiguration="AutorizacionSoap12Binding1" contract="newWsAutorizacion.AutorizacionPortType"
        name="AutorizacionHttpSoap12Endpoint1" />
      <endpoint address="https://127.0.0.1:8000/Autorizacion" binding="customBinding"
        bindingConfiguration="AutorizacionSoap12Binding1" contract="newWsAutorizacion.AutorizacionPortType"
        name="AutorizacionHttpsSoap12Endpoint1" />
      <endpoint address="http://127.0.0.1:8000/CASA_SRTMX_CuentaService"
        binding="basicHttpBinding" bindingConfiguration="CASA_SRTMX_CuentaBinding"
        contract="newWsCuenta.CASA_SRTMX_CuentaPortType" name="CASA_SRTMX_CuentaPort" />
      <endpoint address="https://10.16.20.80:8000/CASA_SRTMX_TarjetaService"
        binding="basicHttpBinding" bindingConfiguration="CASA_SRTMX_TarjetaBinding"
        contract="newWsTarjeta.CASA_SRTMX_TarjetaPortType" name="CASA_SRTMX_TarjetaPort" />
      <endpoint address="https://10.16.20.80:8000/CASA_SRTMX_OperacionService"
        binding="basicHttpBinding" bindingConfiguration="CASA_SRTMX_OperacionBinding"
        contract="newWsOperaciones.CASA_SRTMX_OperacionPortType" name="CASA_SRTMX_OperacionPort" />
      <endpoint address="https://10.16.20.80:8000/CASA_SRTMX_TarjetaEstadoService"
        binding="basicHttpBinding" bindingConfiguration="CASA_SRTMX_TarjetaEstadoBinding"
        contract="newWsTarjetaEstado.CASA_SRTMX_TarjetaEstadoPortType"
        name="CASA_SRTMX_TarjetaEstadoPort" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="broxelco_rdgEntities" connectionString="metadata=res://*/broxelMY.csdl|res://*/broxelMY.ssdl|res://*/broxelMY.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=10.210.66.59;user id=appnetuserdes;password=2sZcuiawnWkb;persistsecurityinfo=True;database=broxelco_rdg&quot;" providerName="System.Data.EntityClient" />
    <add name="BroxelEntities" connectionString="metadata=res://*/Broxel.csdl|res://*/Broxel.ssdl|res://*/Broxel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.80.187;initial catalog=BroxelPaymentsWs;user id=usrprod;password=JL47t27j530;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BroxelSQLEntities" connectionString="metadata=res://*/BroxelSQL.csdl|res://*/BroxelSQL.ssdl|res://*/BroxelSQL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.80.187;initial catalog=Broxel;user id=devuser;password=Z341nao27L;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>