body, html
{
	background-color: #f7f7f7;
	font: 1em Trajan Pro;
	font-size: 11px;
	color:#2F2F2F;
	margin: 0;
	padding: 0;
	border: 0;
}
.piepagina_principal
{
	background-color: #F7F7F7;
	display: block;
	margin-top: 0;
	margin-left:0em;
	margin-right: auto;
	padding-left:0;
	padding-right:0;
    width: 980px;
}
.Menu
{
    width: 1000px;
    font-weight: bolder;
    height: 20px;
    float: left;
    padding-right: auto;
    margin: 80px 0px 0px 0px;
    font: 1em Trajan Pro;
    font-size: 13px;
    text-align: center;
    background-color: #f7f7f7;
    background-image: url('../Imagenes/fondo_menu.jpg');
    
}

.Catalogos
{
	width: 100%;
	background-color: buttonface;
	border-right: black 1px solid;
	border-top: black 1px solid;
	border-left: black 1px solid;
	border-bottom: black 1px solid;
	text-align: center;
}

.fondoBlanco
{
	background-color: #f7f7f7;
	width: 1000px;
	margin: 0 auto 0 auto;
    height: 369px;
}

.FondoDinamico
{
	background-repeat: repeat;
	background-image: url('../Imagenes/line.png');
	width: 900px;
	margin: 30px auto 30px auto;
    height: 0px;
}

.fondoCentro
{
	margin: 10px 10px 10px 10px;
}

.Salir
{
	margin: 100px 0px 0px 10px;
}
.Submenu
{
    text-align: left;
    border-bottom-color: Menu;
    background-color: #f7f7f7;
    font-size: 11px;
}

a
{
	color: Black;
	background-color: Transparent;
	font-variant: small-caps;
}

A:Hover
{
	color: black;
}

#wrap
{
	width: 1000px;
	height: 950px;
	float: left; /*margin: 2px 2px 10px 208px;*/
	background-color: Window;
	background-image: url(./../Imagenes/otro.png);
	background-position: center 50%;
	background-repeat: no-repeat;
}
#fondoLogin
{
	width: 1000px;
	height: 650px;
	float: left; /*margin: 2px 2px 10px 208px;*/
	background-color: Window;
	background-image: url(./../Imagenes/logon.png);
	background-position: center 50%;
	background-repeat: no-repeat;
}
#mensaje
{
	width: 500px;
	height: 200px;
	float: left; /*margin: 2px 2px 10px 208px;*/
	background-color: Window;
	background-image: url(./../Imagenes/mensaje.png);
	background-position: center 50%;
	background-repeat: no-repeat;
	text-align: center;
}
#mensajeOpcion
{
	width: 650px;
	height: 330px;
	float: left; /*margin: 2px 2px 10px 208px;*/
	background-color: Window;
	background-image: url(./../Imagenes/mensaje.png);
	background-position: center 50%;
	background-repeat: no-repeat;
	text-align: center;
}

#mensajeFamilia
{
	width: 650px;
	height: 250px;
	float: left;
	background-color: Window;
	background-image: url(./../Imagenes/mensajeFamilia.png);
	background-position: center 50%;
	background-repeat: no-repeat;
}

.mensajeVer
{
	margin: 80px 0px 0px 15px;
}
.tablaBotones
{
	margin: 40px 10px 10px 298px;
}

#busqueda
{
	width: 890px;
	height: 450px;
	float: left; /*margin: 2px 2px 10px 208px;*/
	background-color: Window;
	background-image: url(./../Imagenes/busqueda.png);
	background-position: center 50%;
	background-repeat: no-repeat;
}

.Header
{
	width: 1000px;
	height: 100px; /*float: left;*/ /*margin: 12px 10px 0px 198px;*/
	background-image: url(./../Imagenes/header.png);
	background-repeat: no-repeat; /*background-position: center 50%;*/
	text-align: center;
}

.Validator
{
	font-weight: bold;
}

#Mensajes
{
	width: 1000px; /*float: left;*/ /*margin: 12px 10px 10px 203px;*/
	border-width: thin;
	background-repeat: no-repeat;
	background-position: center;
	font-weight: bold; /*background-position: center 50%;*/
}

#MensajesError
{
	width: 100%; /*float: left;*/ /*margin: 12px 10px 10px 203px;*/
	border-width: thin;
	background-repeat: no-repeat;
	background-position: center;
	font-weight: bold; /*background-position: center 50%;*/
}

#Logon
{
	width: 1000px;
	float: left;
	border-collapse: collapse;
	
	text-align: right;
	font-size: 10px;
	color: White;
	
	background-color: #727272;
	border-width: thin;
	background-repeat: no-repeat;
	background-position: center;
	font-weight: bold;
}

#ContenidoInicio
{
	width: 780px;
	height: 520px;
	margin: 50px 0px 0px 100px;
}

#Contenido
{
    width: 1000px;
	/* width: 870px; height: 820px; 	margin: 25px 0px 0px 65px;*/
	margin: 0 auto 0 auto; /*border-width: 2px; 	border-style: outset;*/
}
.contenidoFamilia
{
	margin: 12px 0px 0px 30px;
}
.contenidoMensaje
{
	margin: 12px 0px 0px 30px;
}
.mensaje
{
	margin: 15px 5px 0px 200px;
}
.tamanio
{
	width: 100%; /*width: 830px;*/
}

.login
{
	margin: 400px 0px 0px 550px;
}
.der
{
	text-align: right;
	font-size: 11px;
	font-weight: bold;
}
.derecha
{
	margin-right:auto;
}
.nder
{
	text-align: right;
	font-size: 11px;
}
.izq
{
	text-align: left;
}
.cen
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.centro
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
    text-align: center;
}
.titulo
{
	background-color: #727272;
	text-align: center;
	font-family: Verdana;
	font-size: medium;
	color: White;
	font-variant: small-caps;
	font-weight: bold;
}
.subtitulo
{
	background-color: #f7f7f7;
	text-align: left;
	font-family: Verdana;
	font-size: small;
	color:#727272;
	font-variant: small-caps;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #727272;
}
A:link
{
	text-decoration: none;
	background-color: Transparent;
}

.boton
{
	border-bottom: 3px inset White;
    font-size: x-small;
	font-family: Verdana;
	font-weight: bold;
	color: #727272;
	background: white;
	border-left-style: none;
    border-left-color: inherit;
    border-left-width: 3px;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: 3px;
    border-top-style: none;
    border-top-color: inherit;
    border-top-width: 3px;
    }
.boton:Hover
{
	background: #727272;
	color: White;
	border: 3px;
	border-bottom-color: #727272;
	border-bottom-style: inset;
}

.scrollbar
{
	overflow: auto;
	scrollbar-base-color: #727272;
	scrollbar-arrow-color: white;
}

.texto
{
	font-family: Verdana;
	font-size: smaller;
	font-variant: small-caps;
    height: 16px;
    margin-right: 28px;
}
LABEL
{
	font-family: Verdana;
	font-size: smaller;
	font-weight: lighter;
}

#Grid
{
	float: left;
}

.textbox
{
	font-family: Verdana;
	font-size: smaller;
    margin-left: 0px;
}
P
{
	font-weight: bold;
}
.negritas
{
	font-weight: bold;
}

.modalBackground
{
	background-color: Gray;
	filter: alpha(opacity=70);
	opacity: 0.7;
}

.divOk
{
	background-color: greenyellow;
	border-right: yellow 1px outset;
	border-top: yellow 1px outset;
	border-left: yellow 1px outset;
	border-bottom: yellow 1px outset;
	font-weight: bold;
	color: royalblue;
	font-variant: small-caps;
}

.divError
{
 	background-color: #FFFF80;   
	border: 1px outset Red;



	font-weight: bold;
    color: Red;	
	font-variant: small-caps;    
}



.scroll
{


    SCROLLBAR-FACE-COLOR: white; 
SCROLLBAR-HIGHLIGHT-COLOR: white; 
SCROLLBAR-SHADOW-COLOR: white; 
SCROLLBAR-3DLIGHT-COLOR: white; 
SCROLLBAR-ARROW-COLOR: white; 
SCROLLBAR-TRACK-COLOR: white;
SCROLLBAR-DARKSHADOW-COLOR: white;

}

.list
{
    background:#D4D4D4;
}

    .posicion
        {
            width: 1000px; margin: 5px auto 5px auto; border-collapse: collapse; 
                float: none; border-width: 1px; font-size: 10px; color: White; border-style: outset;
                border-color: Black; background-color: #727272; border-width: thin; font-weight: bold;
                font-family: Verdana
        }