
@{
    ViewBag.Title = "Clientes";
}
@section styles{
    <link href="~/Content/Conec/Solicitud/Cliente.css" rel="stylesheet" />
 }

<ol class="breadcrumb">
    <li><span class="glyphicon glyphicon-home" aria-hidden="true"></span></li>
    <li><a href="#">Clientes</a></li>
    <li><a href="~/Solicitud/Clientes" class="active">Clientes</a></li>
</ol>
<div class="flip">
    <div class="front">
        <div class="top-buffer">
            <h3>@ViewBag.Title</h3>
            <hr class="red">
        </div>
        <div class="col-sm-12 form-group">
            <div class="form-group">
                <div class="col-sm-3">
                    <label class="control-label">Estatus:</label>
                    <label class="radio-inline" for="activo">
                        <input type="radio" name="estatus" value="true">
                        Activo
                    </label>
                    <label class="radio-inline" for="inactivo">
                        <input type="radio" name="estatus" value="false">
                        Inactivo
                    </label>
                </div>
                <div class="col-sm-4">
                    <label class="control-label">Razón social:</label>
                    <input placeholder="Buscar por Razón social" class="form-control" type="text" name="razonSocial" id="razonSocial" for="razonSocial">
                </div>
                <div class="col-sm-4">
                    <label class="control-label">Nombre corto:</label>
                    <input placeholder="Buscar por Nombre corto" class="form-control" type="text" name="nombreCorto" id="nombreCorto" for="nombreCorto">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-3">
                    <label class="control-label">Régimen fiscal:</label>
                    <select class="form-control" id="regimenFiscal" name="regimenFiscal" for="regimenFiscal"></select>
                </div>
                <div class="col-sm-4">
                    <label class="control-label">Sector:</label>
                    <select class="form-control" id="sector" name="sector" for="sector"></select>
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-default" id="btnBuscar">
                        <span class="glyphicon glyphicon-search"></span>
                        Buscar
                    </button>
                </div>
            </div>
        </div>
        <div id="divClientes"></div>
    </div>
    <div class="back">

    </div>
</div>
@section Scripts{
    <script src="~/Scripts/jquery/jquery-ui.js"></script>
    <script src="~/Scripts/conec/solicitud/cliente.js"></script>
    <script src="~/Scripts/conec/common/conecFunctions.js"></script>
}