
<div class="top-buffer">
    <h3>Control Electrónico de Contraprestaciones</h3>
    <hr class="red">
</div>
<div class="row">
    <div class="col-sm3 form-group">
        <img class="img-thumbnail" src="" id="imgFoto" />
        <br />
        <br />
        <input type="file" id="foto" multiple accept="image/*" class="form-control" />
    </div>
    <div class="col-sm-3 form-group">
        <label>Estándar de competencia:</label>
        <select id="estandarCompetencia" class="dropdown form-control" style="width:200px;">
            <option>    </option>
        </select>
    </div>
    <div class="col-sm-3 form-group">
        <label>Fecha y hora de Registro</label>
        <input class="form-control datepickerFechaActua" type="text" id="fechaRegistro" />
    </div>
    <div class="col-sm-3 form-group">
        <label for="apPaterno">Apellido Paterno:</label>
        <input class="form-control" type="text" id="apPaterno" />
    </div>
    <div class="col-sm-3 form-group">
        <label>Apellido Materno:</label>
        <input class="form-control" type="text" id="apMaterno" />
    </div>
    <div class="col-sm-3 form-group">
        <label>Nombre:</label>
        <input class="form-control" type="text" id="nombre" />
    </div>
    <div class="col-sm-3 form-group">
       <label>Lugar de nacimiento:</label>
        <input class="form-control" type="text" id="lugarNacimiento" />
    </div>
    <div class="col-sm-3 form-group">
        <label>Fecha de nacimiento:</label>
        <input class="form-control datepickerFechaActua" type="text" id="fechaNacimiento" />
    </div>
    <div class="col-sm-3 form-group">
        <label>Nacionalidad:</label>
        <input class="form-control" type="text" id="fechaRegistro" />
    </div>
    <div class="col-sm-3 form-group">
        <label>CURP:</label>
        <input class="form-control" type="text" id="curp" />
    </div>
    <div class="col-sm-3 form-group">
        <label>Último grado escolar:</label>
        <input class="form-control" type="text" id="gradoEscolar" />
    </div>
    <div class="col-sm-3 form-group">
        <label>Entidad Federativa</label>
        <select id="entidadFederativa" class="dropdown form-control" style="width:200px;" onchange="Ui.prototype.municipioDelegacion()">
            <option>    </option>
        </select>
    </div>
    <div class="col-sm-3 form-group">
        <label>Municipio/Demarcación:</label>
        <select id="municipioDelegacion" class="dropdown form-control" style="width:200px;">
            <option>    </option>
        </select>
    </div>
    <div class="col-sm-3 form-group">
        <label>Colonia:</label>
        <input class="form-control" type="text" id="colonia" />
    </div>
    <div class="col-sm-3 form-group">
        <label>Calle:</label>
        <input class="form-control" type="text" id="calle" />
    </div>
    <div class="col-sm-3 form-group">
        <label>Número exterior:</label>
        <input class="form-control" type="text" id="numeroExterior" />
    </div>
    <div class="col-sm-3 form-group">
        <label>Numero interior:</label>
        <input class="form-control" type="text" id="numeroInterior" />
    </div>
    <div class="col-sm-3 form-group">
        <label>Código Postal:</label>
        <input class="form-control" type="text" id="codigoPostal" />
    </div>
    <div class="col-sm-3 form-group">
        <label>Años de servicio:</label>
        <input class="form-control" type="text" id="anoServicio" />
    </div>
    <div class="col-sm-3 form-group">
        <label>CUIP:</label>
        <input class="form-control" type="text" id="cuip" />
    </div>
    <div class="col-sm-3 form-group">
        <label>Edad:</label>
        <input class="form-control" type="text" id="edad" />
    </div>
    <div class="col-sm-3 form-group">
        <label>Sexo:</label>
        <input class="form-control" type="text" id="sexo" />
    </div>
    <div class="col-sm-3 form-group">
        <label>RFC:</label>
        <input class="form-control" type="text" id="rfc" />
    </div>
    <div class="col-sm-3 form-group">
        <label>Grado:</label>
        <input class="form-control" type="text" id="grado" />
    </div>
    <div class="col-sm-3 form-group">
        <label>Cargo:</label>
        <input class="form-control" type="text" id="cargo" />
    </div>
    <div class="col-sm-3 form-group">
        <label>Teléfono casa:</label>
        <input class="form-control" type="tel" id="telefonoCasa" />
    </div>
    <div class="col-sm-3 form-group">
        <label>Teléfono celular:</label>
        <input class="form-control" type="tel" id="telefonoCelular" />
    </div>
    <div class="col-sm-3 form-group">
        <label>Teléfono laboral (EXT):</label>
        <input class="form-control" type="tel" id="telefonoLaboral" />
    </div>
    <div class="col-sm-3 form-group">
        <label>Email personal:</label>
        <input class="form-control" type="email" id="emailPersonal" />
    </div>
    <div class="col-sm-3 form-group">
        <label>Email laboral:</label>
        <input class="form-control" type="email" id="emailLaboral" />
    </div>
</div>
<div class="row">
    <div class="left">
        <input type="button" class="btn btn-default" value="Enviar" id="btnEnviar" />
    </div>
</div>
<br />
@section Scripts{
    <script src="~/Scripts/conec/solicitud/contraprestaciones.js"></script>
}


