@model IEnumerable<GOB.SPF.ConecII.Web.Models.UiClienteContacto>
<div class="panel panel-default">
    <div class="panel-heading">
        <span class="pull-right">
            <a id="btnNewContacto" class="btn btn-default btn-xs" name="contactoNew">
                <i class="glyphicon glyphicon-plus"></i>
            </a>
        </span>
        Contactos
    </div>
    <div class="panel-body">
        <div>
            <div id="contactos"></div>
        </div>
        
    </div>
</div>

