<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUsersSll" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:25251/Security/UsersSll.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUsersSll"
                contract="UserScc.IUsersSll" name="BasicHttpBinding_IUsersSll" />
        </client>
    </system.serviceModel>
</configuration>