<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler" />
  </configSections>
  
  <appSettings>
    <!--Configuración de la conexión de las base de datos-->
    <!--Server: (dell-623)-->
    <!--  Sicogua -->
    <add key="base" value="O8AC0BIQW59YWDKd7p0NnzlU0cEf/DDd7ckk86FMVKLSvtDOc6/UYGOExc18JDyysQmjtF3Qn50b0Vg+Z/51zw==" />
    <!--  REA -->
    <add key="bdrea" value="O8AC0BIQW59YWDKd7p0NnzlU0cEf/DDd7ckk86FMVKLnVhyGL9bo+Xmevh8oL2hqdsjdNR5l2Kn3btmdXCdqYx4ZX0p3ajz5HdfXkvI78Usoi5S1f/8RAjheWpVf5cTx"/>
    <!--  Cove  -->
    <add key="bdcove" value="O8AC0BIQW59YWDKd7p0NnzlU0cEf/DDd7ckk86FMVKK4nmq0AhNp5ASXYbPSLvA/L3w3jAHa0Xh/gLO1piAecPssuxzQclGsn4XQWrDhy4syS7dxr7G4pUCf3tyeUtLc"/>
    <!--  REP  -->
    <!--Data Source=DELL-623;Initial Catalog=personal;Persist Security Info=True;Pooling=false;-->
    <add key="bdrep" value="O8AC0BIQW59YWDKd7p0NnzlU0cEf/DDd7ckk86FMVKIZQzzGWTXpdx/waniYNRpuig/t82XR/lCB6eHt5/LEMD6u4kAl6l2T22XTMNP91UeL/eGuCjddkyXOidk5Bh4Q"/>
    
    <!--Server: (10.247.100.70\indra)-->
    <!--  Sicogua  -->
    <!--<add key="base" value="Dn/wCS31aBXvmAkabEQdY6PGYmpynCHi9P8Ar3ChldQxJk5HPm98aBHNAMScvc4gyHEeinEmYr3Ssdr3ziEN1JWElQPBODuefH+pewipkbU=" />-->
    <!--  REA -->
    <!--<add key="bd" value="Dn/wCS31aBXvmAkabEQdY6PGYmpynCHi9P8Ar3ChldQxJk5HPm98aBHNAMScvc4gLkJlshsVFKgFaEw2nIvLSCcjYU5Bo29AHRkpr1PSOBh8mZO0KWeeeN4Qg8mN2PjI"/>-->
    <!--  Cove -->
    <!--<add key="bdcove" value="Dn/wCS31aBXvmAkabEQdY6PGYmpynCHi9P8Ar3ChldQxJk5HPm98aBHNAMScvc4gzYrl+khwkwdOVwkSx1uoovN4nkW9Zt9BGpjQpECW9ovUPjIzYIVsT9v3njHNP1+d"/>-->

    
    <add key="userConnec" value="j4jKHnyDM19gyoyJsMxVcQ=="/>
    <add key="pwdConnec" value="+MmTmLGVyBb59qg4r5Fcbg=="/>
    <add key="provider" value="S8VO+1t2riR4pVuDtmn2pBPKk1GNxk5CKvnSPMd6KIA="/>
    
    <!--Configuración para report server-->
    <add key="reporte" value="http://10.247.182.57/ReportServer" />
    <add key="reporteuser" value="bSL0Pe8qWw8LIfXI2XJlIw==" />
    <add key="reportepwd" value="/aPxZNl5SYmKpza5DtS+Xg==" />
    
    
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler"
        preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

  <log4net>
    <root>
      <level value ="ALL"/>
      <appender-ref ref="LogFileAppenderMcs"/>
    </root>
    <appender name="LogFileAppenderMcs" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\\VAPI\\Logs\\MSC-Bitacora.log"></param>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"></lockingModel>
      <appendToFile value="true"></appendToFile>
      <rollingStyle value="Size"></rollingStyle>
      <maxSizeRollBackups value="5"></maxSizeRollBackups>
      <maximumFileSize value="10MB"></maximumFileSize>
      <staticLogFileName value="true"></staticLogFileName>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{dd-MMM-yyyy HH:mm:ss} [%-5p] %c %m%n"/>
      </layout>
    </appender>
  </log4net>
</configuration>
