<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --><!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --><!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --><!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WSSeguridadMejoravitAppSoap">
          <security mode="Transport" />
        </binding>
        <binding name="WSSeguridadMejoravitAppSoap1" />
        <binding name="WSConsultaEstatusMejoravitAppSoap">
          <security mode="Transport" />
        </binding>
        <binding name="WSConsultaEstatusMejoravitAppSoap1" />
        <binding name="WSRegistraSolicitudCreditoMejoravitAppSoap">
          <security mode="Transport" />
        </binding>
        <binding name="WSRegistraSolicitudCreditoMejoravitAppSoap1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="WSSeguridadMejoravitAppSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="WSRegistraSolicitudCreditoMejoravitAppSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://201.134.132.139:7443/UltMejoravit/webservices/QA/WSSeguridadMejoravitApp11" binding="basicHttpBinding" bindingConfiguration="WSSeguridadMejoravitAppSoap" contract="SeguridadMejoravit2.WSSeguridadMejoravitAppSoap" name="WSSeguridadMejoravitAppSoap" />
      <endpoint address="https://201.134.132.139:7443/UltMejoravit/webservices/QA/WSSeguridadMejoravitApp12" binding="customBinding" bindingConfiguration="WSSeguridadMejoravitAppSoap12" contract="SeguridadMejoravit2.WSSeguridadMejoravitAppSoap" name="WSSeguridadMejoravitAppSoap12" />
      <endpoint address="https://201.134.132.139:7443/UltMejoravit/webservices/WSConsultaEstatusMejoravitApp11.asmx" binding="basicHttpBinding" bindingConfiguration="WSConsultaEstatusMejoravitAppSoap" contract="ConsultaEstatus2.WSConsultaEstatusMejoravitAppSoap" name="WSConsultaEstatusMejoravitAppSoap" />
      <endpoint address="https://201.134.132.139:7443/UltMejoravit/webservices/QA/WSRegistraSolicitudCreditoMejoravitApp11" binding="basicHttpBinding" bindingConfiguration="WSRegistraSolicitudCreditoMejoravitAppSoap" contract="RegistraSolicitud2.WSRegistraSolicitudCreditoMejoravitAppSoap" name="WSRegistraSolicitudCreditoMejoravitAppSoap" />
      <endpoint address="https://201.134.132.139:7443/UltMejoravit/webservices/QA/WSRegistraSolicitudCreditoMejoravitApp12" binding="customBinding" bindingConfiguration="WSRegistraSolicitudCreditoMejoravitAppSoap12" contract="RegistraSolicitud2.WSRegistraSolicitudCreditoMejoravitAppSoap" name="WSRegistraSolicitudCreditoMejoravitAppSoap12" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>