@{
    ViewBag.Title = "NotifacionesAlertas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts
{
    <script src="~/Scripts/conec/configuracion/NotificacionAlertas.js"></script>
}
<br />
<br />
<div class="top-buffer">
    <h3>Visor de notificacion</h3>
    <hr class="red">
</div>
<div class="col-lg-12">
    <div id="divNotificaciones">
    </div>
</div>
