<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AutorizacionSoap11Binding" />
        <binding name="AutorizacionSoap11Binding1">
          <security mode="Transport" />
        </binding>
        <binding name="ConsultasSOAP11Binding" />
        <binding name="ConsultasSOAP11Binding1">
          <security mode="Transport" />
        </binding>
        <binding name="CASA_SRTMX_CuentaSoap11Binding" />
        <binding name="CASA_SRTMX_CuentaSoap11Binding1">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IwsSPEI" />
        <binding name="BasicHttpEndpoint" />
      </basicHttpBinding>
      <customBinding>
        <binding name="AutorizacionSoap12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="ConsultasSOAP12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="CASA_SRTMX_CuentaSoap12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://10.16.20.70:8280/services/Autorizacion.AutorizacionHttpSoap11Endpoint" binding="basicHttpBinding" bindingConfiguration="AutorizacionSoap11Binding" contract="wsAutorizacion.AutorizacionPortType" name="AutorizacionHttpSoap11Endpoint" />
      <endpoint address="https://10.16.20.70:8243/services/Autorizacion.AutorizacionHttpsSoap11Endpoint" binding="basicHttpBinding" bindingConfiguration="AutorizacionSoap11Binding1" contract="wsAutorizacion.AutorizacionPortType" name="AutorizacionHttpsSoap11Endpoint" />
      <endpoint address="https://10.16.20.70:8243/services/Autorizacion.AutorizacionHttpsSoap12Endpoint" binding="customBinding" bindingConfiguration="AutorizacionSoap12Binding" contract="wsAutorizacion.AutorizacionPortType" name="AutorizacionHttpsSoap12Endpoint" />
      <endpoint address="http://10.16.20.70:8280/services/Autorizacion.AutorizacionHttpSoap12Endpoint" binding="customBinding" bindingConfiguration="AutorizacionSoap12Binding" contract="wsAutorizacion.AutorizacionPortType" name="AutorizacionHttpSoap12Endpoint" />
      <endpoint address="http://10.16.20.70:8280/services/Consultas.SOAP11Endpoint" binding="basicHttpBinding" bindingConfiguration="ConsultasSOAP11Binding" contract="wsConsultas.ConsultasPortType" name="SOAP11Endpoint" />
      <endpoint address="local:///services/Consultas.LOCALSOAP11Endpoint/" binding="basicHttpBinding" bindingConfiguration="ConsultasSOAP11Binding" contract="wsConsultas.ConsultasPortType" name="LOCALSOAP11Endpoint" />
      <endpoint address="https://10.16.20.70:8243/services/Consultas.SecureSOAP11Endpoint" binding="basicHttpBinding" bindingConfiguration="ConsultasSOAP11Binding1" contract="wsConsultas.ConsultasPortType" name="SecureSOAP11Endpoint" />
      <endpoint address="local:///services/Consultas.LOCALSOAP12Endpoint/" binding="customBinding" bindingConfiguration="ConsultasSOAP12Binding" contract="wsConsultas.ConsultasPortType" name="LOCALSOAP12Endpoint" />
      <endpoint address="https://10.16.20.70:8243/services/Consultas.SecureSOAP12Endpoint" binding="customBinding" bindingConfiguration="ConsultasSOAP12Binding" contract="wsConsultas.ConsultasPortType" name="SecureSOAP12Endpoint" />
      <endpoint address="http://10.16.20.70:8280/services/Consultas.SOAP12Endpoint" binding="customBinding" bindingConfiguration="ConsultasSOAP12Binding" contract="wsConsultas.ConsultasPortType" name="SOAP12Endpoint" />
      <endpoint address="http://10.16.20.70:8280/services/CASA_SRTMX_Cuenta.CASA_SRTMX_CuentaHttpSoap11Endpoint" binding="basicHttpBinding" bindingConfiguration="CASA_SRTMX_CuentaSoap11Binding" contract="wsCuenta.CASA_SRTMX_CuentaPortType" name="CASA_SRTMX_CuentaHttpSoap11Endpoint" />
      <endpoint address="https://10.16.20.70:8243/services/CASA_SRTMX_Cuenta.CASA_SRTMX_CuentaHttpsSoap11Endpoint" binding="basicHttpBinding" bindingConfiguration="CASA_SRTMX_CuentaSoap11Binding1" contract="wsCuenta.CASA_SRTMX_CuentaPortType" name="CASA_SRTMX_CuentaHttpsSoap11Endpoint" />
      <endpoint address="http://10.16.20.70:8280/services/CASA_SRTMX_Cuenta.CASA_SRTMX_CuentaHttpSoap12Endpoint" binding="customBinding" bindingConfiguration="CASA_SRTMX_CuentaSoap12Binding" contract="wsCuenta.CASA_SRTMX_CuentaPortType" name="CASA_SRTMX_CuentaHttpSoap12Endpoint" />
      <endpoint address="https://10.16.20.70:8243/services/CASA_SRTMX_Cuenta.CASA_SRTMX_CuentaHttpsSoap12Endpoint" binding="customBinding" bindingConfiguration="CASA_SRTMX_CuentaSoap12Binding" contract="wsCuenta.CASA_SRTMX_CuentaPortType" name="CASA_SRTMX_CuentaHttpsSoap12Endpoint" />
      <endpoint address="http://localhost:9030/wsSPEI.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IwsSPEI" contract="wsSPEI.IwsSPEI" name="BasicHttpBinding_IwsSPEI" />
      <endpoint address="http://localhost:9008/ServicioSMS.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpEndpoint" contract="wsSMS.IServicioSMS" name="BasicHttpEndpoint" />
    </client>
  </system.serviceModel>
  <connectionStrings><add name="BroxelPaymentsWsEntities" connectionString="metadata=res://*/BroxelPaymentsWs.csdl|res://*/BroxelPaymentsWs.ssdl|res://*/BroxelPaymentsWs.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.80.187;initial catalog=BroxelPaymentsWs;user id=usrprod;password=JL47t27j530;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="broxelco_rdgEntities" connectionString="metadata=res://*/BroxelCoRdg.csdl|res://*/BroxelCoRdg.ssdl|res://*/BroxelCoRdg.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=10.210.196.40;user id=appnetuser;password=NjOeaB1eskLnyxb;database=broxelco_rdg&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6" />
    </providers>
  </entityFramework>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.8.6.0" newVersion="6.8.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.data>
  <DbProviderFactories>
    <remove invariant="MySql.Data.MySqlClient" />
    <add name="MySQL" description="ADO.Net driver for MySQL" invariant="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
  </DbProviderFactories>
</system.data></configuration>