@*@model Nsft.Domain.Core.Entity.IPagedView*@
@{
    ViewBag.Title = "Consulta Divisiones";
}

@section Styles{
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
}

@*<ol class="breadcrumb">
    <li><span class="glyphicon glyphicon-home" aria-hidden="true"></span></li>
    <li><a href="#">Catalogos</a></li>
    <li><a href="~/Catalogo/Division" class="active">Divisi&oacute;n</a></li>
</ol>*@
<div class="flip">
    <div class="front">
        <div class="top-buffer">
            <h3>@ViewBag.Title</h3>
            <hr class="red">
        </div>
        @*<div class="col-sm-4 form-group">
            <label class="control-label">Estatus:</label>
            <div class="col-sm-12">
                <label class="radio-inline" for="activo">
                    <input type="radio" name="estatus" value="true" checked="checked">Activo
                </label>
                <label class="radio-inline" for="inactivo">
                    <input type="radio" name="estatus" value="false">Inactivo
                </label>
            </div>
        </div>*@

        <div class="row form-group">
            @Html.Label("Numerado", new { @class = "col-xs-1 col-sm-1 col-md-1 col-lg-1 control-label" })
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <select id="NumeradoBuscar" name="NumeradoBuscar" class="form-control">
                    <option value="" selected="selected">Todos</option>
                    <option value="true">Activo</option>
                    <option value="false">Inactivo</option>
                </select>
            </div>
            @Html.Label("Mensaje", new { @class = "col-xs-1 col-sm-1 col-md-1 col-lg-1 control-label" })
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                @Html.TextBox("MensajeBuscar", null, new { id = "MensajeBuscar", @class = "form-control" })
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-offset-11 col-sm-offset-11 col-md-offset-11 col-lg-offset-11 col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <button type="submit" class="btn btn-info glyphicon glyphicon-search pull-right">
                    Buscar
                </button>
            </div>
        </div>
        
        @*<div class="ui-widget col-sm-3 form-group">
            <label class="control-label">División:</label>
            <input id="Division" class="form-control dropdown-toggle" placeholder="Ingresa Nombre">
        </div>
        <div class="pull-right">
            <button type="button" class="btn btn-default" id="btnBuscar">
                <span class="glyphicon glyphicon-search"></span>Buscar
            </button>
        </div>*@

        @*<div id="divDivision"></div>*@
    </div>
    <div class="back">

    </div>
</div>
<input type="hidden" id="IdDivision" />

@section Scripts{

    <script src="~/Scripts/conec/catalogo/division.js"></script>    
    <script src="~/Scripts/jquery/jquery-ui.js"></script>
}

