<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-mvcSICER-20160603130747;Integrated Security=SSPI" />
  </connectionStrings>
  <!--<appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>-->
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0" >
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <!--<sessionState mode="InProc" timeout="120" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>-->
    <sessionState mode="InProc" timeout="120">
    </sessionState>
    <httpRuntime maxRequestLength="102400" executionTimeout="1200" maxUrlLength="10999" maxQueryStringLength="2097151" />

  </system.web>


  <location allowOverride="true">
    <appSettings>
      <!--DESARROLLO-->
      <add key="db_Entiti" value="xrWRyMNBqlPi6AUCeE44eDvUzvyDDXtE48yTdmMjMeY=" />
      <add key="SICER_Entiti" value="GKSHEM/ywk0/bd0CDfb5XPJ+ZVHXgCM6C4LJKiOvma7G4ci+nMCnlS6O1xoGljAYdzCJuvllPIo1TE/OnDkwypssQF0DI2PIUCPHGr8/hhksBqc73cId9aIcZHzuow2DPkL1lLxRfeuxIz/t/D7XV4C/b7Zh96bFx9Ax1F0bfgf9Qb0isuLJl5bLDkAnLAqo6usv0G+5bRosuEnOkLa2zVScVn5LhkmK/Wl/O2HtwOuG1B1gdiwbvkT/Fs/xgGfmaRjbWkANx+CcGtUKWsDIXg=="/>
      <add key="reportes" value="http://10.237.57.48/ReportServer_instancia411" />

      <!--PRUEBAS-->
       <!--<add key="db_Entiti" value="cTfGxVfPkm2p6/q99DHzw+b3CXFyPF/37HmGVBcjtnQ=" />
    <add key="SICER_Entiti" value="GKSHEM/ywk0/bd0CDfb5XPJ+ZVHXgCM6C4LJKiOvma7G4ci+nMCnlS6O1xoGljAYdzCJuvllPIo1TE/OnDkwyrOB7cmy4a+SjqZzODg+osD0Jt51uUCgZC8fxxH+qGRkyawQGgBN9BUgoJ3bdAofYmirZI1Z7iQR5YPdPs7D7ANK5lj433jpZmlOWoT1VC3mxA77vk7Ro9uEOJVTjaAM55bGoSvZgHC2ueOnWglrOnKb5yN2mIuoPLNKOY1nejqiZ9PIc+ScAibjls74g2zcxA=="/>
    <add key="reportes" value="http://intraspfpru02k/ReportServer" />-->

      <!--NUEVO PRODUCCIÓN-->
      <!--<add key="db_Entiti" value="J4TB/WkcyIoU/W8iy/ezIA==" />
      <add key="SICER_Entiti" value="GKSHEM/ywk0/bd0CDfb5XPJ+ZVHXgCM6C4LJKiOvma7G4ci+nMCnlS6O1xoGljAYI4Co9Qw02h/ZLG7r7QUzxD6JXHtbz3M8Pk2Qk66D5831u7aJX+ZFMoBXm6d/VurOqkIO84vBOKPL/hG2s44I598i0lCwuDMdrom/FHDb02zPqLgSQneGDoVHaOwRpdkkEN53PSlNgWkFaBcjLXfKDFR5vAcsuYPcAo3Q+vr9P7UUTZ2D+KHq38HsZPuZgQpp3jIYH6x8wV8/65raexnAJw=="/>
      <add key="reportes" value="http://sgmet-spfrs/ReportServer" />-->


      <!--GENERALES-->
      <add key="catalog_EntitiAdmin" value="v/ejLn6B9rbIkloSP/+wAA==" />
      <add key="provider" value="S8VO+1t2riR4pVuDtmn2pBPKk1GNxk5CKvnSPMd6KIA=" />
    </appSettings>
  </location>


  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <!--<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />-->
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="1048576" maxQueryString="1048576" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>