@model GOB.SPF.ConecII.Entities.IPagedView

<div id="page-frame">
    @Html.DisplayFor(model => model.PageItems)
</div>
<div id="pager" class="container">
    @{ Html.RenderPartial("Pager", Tuple.Create("Find", "PartesDocumentoUI", Model));}
</div>
