
@{
    ViewBag.Title = "Clientes";
}
<style type="text/css">
    .ui-autocomplete {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        float: left;
        display: none;
        min-width: 160px;
        padding: 4px 0;
        margin: 0 0 10px 25px;
        list-style: none;
        background-color: #ffffff;
        border-color: #ccc;
        border-color: rgba(0, 0, 0, 0.2);
        border-style: solid;
        border-width: 1px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
        *border-right-width: 2px;
        *border-bottom-width: 2px;
    }

    .ui-menu-item > a.ui-corner-all {
        display: block;
        padding: 3px 15px;
        clear: both;
        font-weight: normal;
        line-height: 18px;
        color: #555555;
        white-space: nowrap;
        text-decoration: none;
    }
    .ui-menu-item {
        font-size: medium;
        padding: 5px 15px;
    }
    .ui-state-hover, .ui-state-active {
        color: #777;
        text-decoration: none;
        background-color: #E2E2E2;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        background-image: none;
    }
</style>
<link href="~/Content/Conec/Common/skinConec.css" rel="stylesheet" />

<ol class="breadcrumb">
    <li><span class="glyphicon glyphicon-home" aria-hidden="true"></span></li>
    <li><a href="#">Clientes</a></li>
    <li><a href="~/Solicitud/Clientes" class="active">Clientes</a></li>
</ol>
<div class="flip">
    <div class="front">
        <div class="top-buffer">
            <h3>@ViewBag.Title</h3>
            <hr class="red">
        </div>
        <div class="col-sm-12 form-group">
            <div class="form-group">
                <div class="col-sm-3">
                    <label class="control-label">Estatus:</label>
                    <label class="radio-inline" for="activo">
                        <input type="radio" name="estatus" value="true">
                        Activo
                    </label>
                    <label class="radio-inline" for="inactivo">
                        <input type="radio" name="estatus" value="false">
                        Inactivo
                    </label>
                </div>
                <div class="col-sm-4">
                    <label class="control-label">Razón social:</label>
                    <input placeholder="Buscar por Razón social" class="form-control" type="text" name="razonSocial" id="razonSocial" for="razonSocial">
                </div>
                <div class="col-sm-4">
                    <label class="control-label">Nombre corto:</label>
                    <input placeholder="Buscar por Nombre corto" class="form-control" type="text" name="nombreCorto" id="nombreCorto" for="nombreCorto">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-3">
                    <label class="control-label">Régimen fiscal:</label>
                    <select class="form-control" id="regimenFiscal" name="regimenFiscal" for="regimenFiscal"></select>
                </div>
                <div class="col-sm-4">
                    <label class="control-label">Sector:</label>
                    <select class="form-control" id="sector" name="sector" for="sector"></select>
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-default" id="btnBuscar">
                        <span class="glyphicon glyphicon-search"></span>
                        Buscar
                    </button>
                </div>
            </div>
        </div>
        <div id="divClientes"></div>
    </div>
    <div class="back">

    </div>
</div>
@section Scripts{
    <script src="~/Scripts/jquery/jquery-ui.js"></script>
    <script src="~/Scripts/jquery/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/conec/solicitud/cliente.js"></script>
}