.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 0;
}

.input-group .form-control {
    z-index: 0;
}

@media (min-width: 992px) {
   
    .modal-lg {
        width: 1350px;
    } 
}

.pagination {
    padding-left: 0;
    margin: 10px;
    border-radius: 4px;
}

body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.428571429;
    color: #545454;
}

.table {
    width: 100%;
    margin-bottom: 0px;
}

.form-control {
    font-size: 16px;
}