
@{
    ViewBag.Title = "Usuarios";
}

<h2>Usuarios</h2>
<div id="treeView"></div>
@section Scripts{ 
    <script src="~/Scripts/Controls/gobTreeview.js"></script>
    <script src="~/Scripts/conec/usuarios.js"></script>
}

